[2015-09-16 05:05] M1cha opened #1 "Search and parse multiboot configs"

[2015-09-16 05:07] M1cha opened #2 "Publish required information to userspace and enable init replacement"

[2015-09-16 05:09] M1cha opened #3 "Evaluate if this is even possible"

[2015-09-16 05:19] codierae commented on #3
+1 Hardkernel ODroid XU4 http://www.hardkernel.com/main/products/prdt_info.php?g_code=G143452239825 https://github.com/hardkernel/u-boot

[2015-11-15 19:04] #2 closed

[2015-11-15 19:05] #1 closed

[2015-11-15 19:06] M1cha opened #4 "Implement boot/recovery replacement partitions on ESP"

[2015-11-15 19:09] M1cha opened #5 "Handle reboot-recovery"
LK already provides an API for passing that information.
AndroidBoot just needs to remember the last booted system and autoboot to recovery mode.

[2015-11-17 18:20] M1cha opened #6 "[condor] fix booting recovery mode"
this probably is caused by some ramdisk overlap

[2015-11-19 21:42] M1cha commented on #6
this actually is a MBM(Motorola's Stock Bootloader) bug.
Using "fastboot boot" causes weird problems while flashing and booting EFIDroid works just fine.

[2015-11-19 21:42] #6 closed

[2015-11-22 10:22] #4 closed

[2015-11-26 20:57] M1cha opened #7 "Fixup boot/recovery replacements in recovery"
this will be done using hookmgr(+tracy)

[2015-11-26 20:58] M1cha opened #8 "add support for multiboot (android+recovery)"

[2015-11-26 21:03] M1cha opened #9 "add support for SDcards"
the LKApi already supports using multiple devices. We just need to enable all targets to check both emmc slot's.

While doing this we should switch to using libbio internally to simplify the target-specific uefiapi implementation even more.

[2015-11-26 21:06] M1cha opened #10 "add support for the GPIO interrupt controller"
this is needed in case we want to port touchscreen drivers in future.

[2015-11-27 13:19] M1cha opened #11 "Add nice error screen"
this should be displayed before the main menu.
also it has to support line breaks in the error message so it doesn't get cut at the end of the screen

[2015-11-27 15:13] #7 closed

[2015-12-11 08:51] M1cha commented on #9
at least for msm8610 this is done and others should be easy to add now.

[2015-12-11 08:51] #9 closed

[2015-12-16 08:36] M1cha opened #12 "add support for booting sony ELF files"
we need to check where they store the rom specific cmdline(or don't they need one?)

support for booting these files is important if you want to install EFIDroid with a stock ROM.

[2016-01-16 23:56] #11 closed

[2016-01-16 23:58] M1cha commented on #3
while using U-Boot drivers apparently works, we still need to manually implement interrupt and timer support because this is required by UEFI and not supported by U-Boot.

[2016-01-17 08:47] codierae commented on #3
any possible ETA with this? or is it even possible to implement in the
hardkernel uboot code - or the codebase their code originates from so they
could just implement the changes from there and then just add their own
changes ontop

On Sat, Jan 16, 2016 at 6:58 PM, Michael Zimmermann <
notifications@github.com> wrote:

[2016-01-17 17:18] M1cha commented on #3
well all u have to do is to define the GIC base addresses(we use UEFI's GIC driver anyway) and write a small timer library so the timer interrupt gets fired every few ms.(UEFI needs this for events).

[2016-01-17 17:26] M1cha commented on #3
PS: I can't give an ETA since I'm currently working with qemu and don't have a real uboot device.
On qemu I can boot to shell already, but can't type then because of the missing interrupts.

It would be easy to fix but it makes no sense since UEFI natively supports qemu anyway.

[2016-01-17 23:10] codierae commented on #3
ODROID/HardKernel is willing to donate uboot hardware to coders if thats
the only hangup

On Sun, Jan 17, 2016 at 12:26 PM, Michael Zimmermann <
notifications@github.com> wrote:

[2016-01-17 23:27] M1cha commented on #3
yea that would be great

[2016-01-17 23:52] codierae commented on #3
if you go on #odroid on freenode and talk to mdrjr he should be able to get
you what you need - they have a few different uboot boards and ive told him
youll be coming at some point - not sure how many boards they can give up
but they are willing to help out how they can - so whoever would be doing
the uboot code would likely be the best recipient for the first board ;)

On Sun, Jan 17, 2016 at 6:

[2016-02-13 17:01] M1cha commented on #8
very basic multiboot (rom's like cm11 without selinux and sdcard) is done.

[2016-02-13 17:01] #8 closed

[2016-02-13 17:01] M1cha opened #13 "boot with selinux enforcing"

[2016-02-18 17:47] M1cha commented on #5
Added with https://github.com/efidroid/uefi_apps_EFIDroidUi/commit/f7e108f4a44192a31f71ca9e523c504d1433e17c

[2016-02-18 17:47] #5 closed

[2016-03-16 08:14] M1cha opened #14 "always assign the same GUID to devices"
when the availability of device changes(i.e. by inserting/removing the sdcard) the GUID's can change.
This has to be fixed to allow identifying the device correctly.

[2016-03-16 08:15] M1cha opened #15 "icon cache limit"
limit the number of entries in the icon cache to prevent running out of non-volatile memory.

[2016-03-16 08:17] M1cha opened #16 "make ptrace more stable"
tracy seems to be very buggy. A good solution would be using code from the "fakeroot-ng" project instead of tracy.

[2016-03-16 10:17] M1cha opened #17 "add support for boot plugins"

[2016-03-16 10:18] M1cha opened #18 "add support for color schemes"

[2016-03-16 10:19] M1cha opened #19 "add UEFI app store"

[2016-03-16 10:20] M1cha opened #20 "enable OTA server"

[2016-03-16 10:22] M1cha opened #21 "add support for recovery tools on ESP"

[2016-03-20 20:30] M1cha opened #22 "check if device is encrypted and deny installation if it is"
use ro.crypto.state because getEncryptionStatus checks for LockPatternUtils.isDeviceEncrypted too

[2016-04-13 17:02] M1cha commented on #16
I am working on my own solution now - https://github.com/efidroid/modules_libsyshook

[2016-04-13 20:31] M1cha opened #23 "hide empty categories"

[2016-05-31 06:39] #23 closed

[2016-06-06 06:34] #14 closed

[2016-07-10 09:46] M1cha opened #24 "do more intelligent devicetree patching"
- include the full dt.img, but make duplicates so we have one entry per hw revision and add an additional node that tells us which hw got selected
- do a full dtb diff and apply this to the multibooted systems later

[2016-07-10 18:59] M1cha opened #25 "add support for 64-bit qcom devices"
- [x] use 64bit datatypes for addresses in all API calls
- [x] use smem V1 for generating correct memory map's
- [x] boot 64bit kernels via TZ
- [x] make finalize_device script 64bit compatible
- [x] add 64bit support to libsyshook
- [x] add support for 64bit kernel address override

@balika011 is our test dummy :P

[2016-07-17 15:45] M1cha commented on #24
the first point is now done, and the second one would need two copies of every dtb.
Since it's not really needed it won't be done this way.

[2016-07-17 15:45] #24 closed

[2016-07-17 15:45] M1cha commented on #25
all this does work now.

[2016-07-21 20:55] M1cha opened #26 "live-patch broken ptrace kernels in recovery mode"
Many 3.4 ARM kernels can't use ptrace because of a kernel bug:
https://android.googlesource.com/kernel/common/+/a43a2ed2a3cb0216db81c87e12d08f85f7baad3d

Since we need ptrace in recovery mode, this needs to be fixed.
we may be able to patch this from the bootloader somehow.

[2016-08-03 08:55] voltagex opened #27 "List prerequisites in documentation"
* cmake
* flex
* bison
* zlib1g-dev

[2016-08-03 10:15] M1cha commented on #27
what is zlib1g-dev used for?

[2016-08-03 10:50] M1cha commented on #27
I added the info to https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Getting-Started

[2016-08-03 10:50] #27 closed

[2016-08-05 09:19] M1cha opened #28 "add support for kernel/ramdisk/dt replacements"
EFIDroidManager does already support adding these but our Loader does just ignore them.

[2016-08-07 12:59] regalstreak opened #29 "[Wiki] Add stuff about the build environment"
Just add one line stating that an android build environment should be set up from https://source.android.com/source/initializing.html

Well I was on Ubuntu Minimal and curl wasn't installed and python was throwing up errors lool

Thanks a lot :dancer:

[2016-08-07 13:01] M1cha commented on #29
we have that already:
https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Getting-Started

[2016-08-07 13:04] regalstreak commented on #29
But we need some of these packages too

[code]

[2016-08-07 13:08] M1cha commented on #29
well I'll only add the ones I know you'll need. if you think we need even more, I'll be happy to add them.
from your list I'll add(excluding the ones we already have):
git-core build-essential zip curl gcc-multilib g++-multilib

[2016-08-07 13:10] regalstreak commented on #29
Yes this is good. Thanks!

[2016-08-07 14:41] M1cha commented on #29
I found a way to make a list of all packages needed. this obviously only tracks executable commands, but since we're cross compiling, there shouldn't be many libs etc needed.
1) remove the out directory if you already built efidroid
2) run a shell via strace: strace -f -s99999 -o /tmp/efidroid.log -e trace=execve bash
3) run a full build (lk_sideload) and exit the strace'd shell
4) generate the pa

[2016-08-07 14:47] regalstreak commented on #29
Yes i'll check that out and give it to you. I'm new to EFIdroid currently. Was checking it out. Will soon build for my oneplus2
For now ill build for condor and give you the output :)

[2016-08-14 05:06] M1cha opened #30 "add support for generating two sets of every binary (ARM and AArch64)"
AArch64 devices can boot booth 32bit and 64bit kernels, so we need two versions of the multiboot userspace available.

[2016-08-14 05:08] M1cha commented on #25
the multiboot userspace still doesn't work for AArch64 devices

[2016-08-14 06:21] M1cha commented on #29
ubuntu results:
[code]

filtered:
[code]

[2016-08-14 06:21] #29 closed

[2016-08-14 07:21] balika011 commented on #25
The grub crashes. (Can't mount any partition.)

[2016-08-15 14:11] M1cha commented on #16
multiboot is using libsyshook now which is both fast and stable

[2016-08-15 14:11] #16 closed

[2016-08-19 16:40] M1cha commented on #26
this seems to be too crazy/much work.
Since the number of affected kernels is limited and recoveries usually use opensource kernels and most users use the latest version it can be easily fixed and updated.

[2016-08-19 16:40] #26 closed

[2016-08-20 07:01] M1cha opened #31 "check if and how .layout_version can break the datamedia bind-mount"

[2016-08-20 17:37] #13 closed

[2016-08-20 18:03] M1cha opened #32 "correctly setup partition replacements for ROM's without fstab"

[2016-08-20 18:21] M1cha opened #33 "fix mounting sdcard when it's the boot device"

[2016-08-20 20:07] M1cha commented on #31
I should add a documentation about .layout_version to our wiki too since there doesn't seem to be much info about it.

[2016-08-22 12:35] #31 closed

[2016-08-22 12:39] M1cha opened #34 "fuse + ptrace = slow transfer speed"
I'm not yet sure what the problem is and who needs to be ptraced for that to happen(fuse server, fs users or /init).

both dynfilefs and abd sideload are affected.

[2016-08-22 15:45] #20 closed

[2016-08-22 16:06] #22 closed

[2016-08-22 16:52] #15 closed

[2016-08-25 14:41] M1cha opened #35 "remount bind-mounts with correct mount options"
otherwise all partitions share the mount-flags of the original mountpoint.

[2016-08-25 14:42] M1cha opened #36 "generate LK panel config from linux dtb."
if possible, do this during runtime in LK using lkargs. otherwise generate a .h file for developers.

[2016-08-26 09:26] M1cha opened #37 "remove all chosen nodes from patched dtb"
we don't want to use defaults from the dtb which is used for efidroid.

[2016-08-26 10:03] M1cha commented on #30
we may not need that as long as the kernels have 32bit binary compat enabled.
ptracing 64bit processes from a 32bit tracer should work too with some adjustments.

[2016-08-28 06:27] #35 closed

[2016-08-28 06:27] #32 closed

[2016-09-04 17:43] M1cha commented on #12
at least for sony aries this is supported now.

[2016-09-04 17:43] #12 closed

[2016-09-04 17:45] M1cha commented on #36
this is supported now using DISPLAY_2NDSTAGE_DTB

[2016-09-04 17:45] #36 closed

[2016-09-07 09:01] M1cha commented on #3
we're at the point where EFIDroid doesn't really require it's own UEFI port anymore. this means if U-Boot's efiloader is complete enough you can just load EFIDroidUI.

[2016-09-09 11:52] M1cha opened #38 "properly handle Sony's merged boot/recovery images"

[2016-09-12 08:26] #37 closed

[2016-09-12 12:39] M1cha opened #39 "implement DT-based power setup for LK display driver"
this is needed when the stock bootloader did not enable the panel.
Currently, that happens when using video panels or when booting from the FOTAKernel partition.

[2016-09-12 18:24] M1cha opened #40 "autoboot correct system after wakeup alarms"

[2016-09-21 08:35] M1cha opened #41 "upstream all needed changes to LKL"

[2016-09-21 08:36] M1cha opened #42 "add support for fastboot flashing redirection and multiboot partitions"

[2016-09-21 08:36] M1cha opened #43 "setup/fix ESP from UEFI"

[2016-09-21 09:20] M1cha opened #44 "store big/important configurations on ESP"
efi nvvars can be wiped by the stock bootloader and are limited in size.
using ini files on the ESP would be a good alternative.

[2016-09-22 12:51] feherneoh opened #45 "Sony: panel support"
For now, only CMD mode panels work on Sony, and only when continuous splash is enabled. That means normal boot, so no display on fastboot boot, recovery boot, or on any video mode panels

[2016-09-22 13:06] M1cha commented on #45
this is basically #39  but I keep this ticket open so we know that it's important for sony devices

[2016-09-22 13:18] M1cha commented on #45
also, since we already know that sony need's non-standard power-setup u probably have to fix it manually first(without dtbreader) to check how/if it works. I can't do that myself without the device.

[2016-09-22 14:02] feherneoh opened #46 "Ramdisk patching API"
There should be an API available for UEFI apps (bootloaders) that lets them patch ramdisks according to multiboot.ini, so other bootloaders can boot EFIDroid ROMs too (without their own patching code)

[2016-09-22 14:05] feherneoh opened #47 "EFIDroid Settings"
Configuring the EFIDroid UI could be done from the app too. Not replacing the original settings menu, but adding new way to configure it

[2016-09-22 14:06] M1cha commented on #46
I'd probably go with a protocol that let's you either boot a binary file(I didn't say .img because libboot does auto-detection anyway), and optionally lets you specify a path to a multiboot directory/ini.

[2016-09-22 14:06] feherneoh commented on #45
I will do it, also I will check the power setup code in Sony's LK

[2016-09-22 14:08] feherneoh commented on #46
yeah, that would be great

[2016-09-22 14:10] M1cha commented on #47
do we really need this? we're more and more moving to UEFI doing more stuff on it's own(LKL being step1 of that).

While I don't generally disagree it may make both code and UI more complicated than they need to be.

[2016-09-22 14:16] feherneoh opened #48 "Warm reboot"
Add config option to force all reboots as warm reboot

[2016-09-22 15:44] M1cha opened #49 "sepolicy version incompatibilities"
e.g. N fails with:

[code]

I hope that the latest version can support 'em all, if not we have to build and somehow link different versions of the library.

[2016-09-24 05:44] M1cha commented on #48
https://github.com/efidroid/bootloader_lk/commit/6e8001d57ee52cd6885c26bb36ad15cb045b9a93

[2016-09-24 05:44] #48 closed

[2016-09-29 09:07] M1cha commented on #49
we need different versions

[2016-09-29 18:51] #49 closed

[2016-09-29 18:52] #41 closed

[2016-10-07 08:38] M1cha opened #50 "freeze during gapps installation"

[2016-10-07 08:41] M1cha opened #51 "add support for adoptable storage"
sdcards formatted for this mode are encrypted using dmcrypt.

https://source.android.com/devices/storage/adoptable.html

The keys are stored in /data/misc/vold

[2016-10-07 08:50] M1cha opened #52 "wait for internal storage if it's not yet available"

[2016-10-08 06:09] M1cha commented on #33
this could be accomplished using LD_PRELOAD for vold.

[2016-10-08 06:13] M1cha opened #53 "support accessing /data/media from within multiboot-recovery"
I don't want to bind-mount it during recovery to prevent accidentally wiping or moving-around the mountpoint.
Instead, this could be solved by adding a new sdcard entry to the fstab.

[2016-10-08 16:05] M1cha commented on #51
LKL is able to mount adoptable storage now, but I still need add support to multiboot for that.

[2016-10-09 07:10] M1cha commented on #3
This doesn't have any real use yet and I'd probably prefer porting uboot code to mainstream LK.

[2016-10-09 07:10] #3 closed

[2016-10-10 07:58] M1cha opened #54 "improve error messages and debug-ability"
* multiboot: the full log and maybe even the dmesg should be stored on the ESP.
* EFIDroidUi: UEFI log
* EFIDroidManager: the root command output(stdout, stderr) should be recorded
* libboot: e.g. when loading tags fails, only the outer function produces a error message

[2016-10-13 08:50] M1cha opened #55 "store multiboot arguments in ramdisk file instead of cmdline"
this is needed to prevent hitting Linux' cmdline length limit

[2016-10-15 08:46] #51 closed

[2016-10-15 13:05] #55 closed

[2016-10-16 08:19] M1cha commented on #33
in recovery, this does work now.

[2016-10-16 08:25] M1cha commented on #53
data is available in /multiboot/data and since TWRP allows browsing all files this shouldn't be a problem.

[2016-10-16 08:25] #53 closed

[2016-10-27 11:55] z3ntu opened #56 "create_device error [FP2]"
Sorry, if this is the wrong repository for this issue, but https://github.com/efidroid/build doesn't have issues enabled.

I tried to create a new device tree for the Fairphone 2.
Build environment is Arch Linux.

Device name (vendor/codename): fairphone/FP2
Device Description (i.e. Moto E): Fairphone 2
LCD Density: 340
Available targets:
  msm7630_surf_nandwrite                  msm8916        md

[2016-10-27 12:29] z3ntu commented on #56
Hmm, I worked around it by running `touch out/tmp/boot.img-dt.unlz4`...

[2016-10-27 12:56] z3ntu commented on #56
Now, when I try to boot the lk.img file, I get the error message

downloading 'boot.img'...
OKAY [  0.131s]
booting...
FAILED (remote: bootimage: incomplete or not signed)
finished. total time: 0.132s

I don't really want to flash the file as I have no idea if it is possible to restore my device from a broken LK...

[2016-10-27 13:13] M1cha commented on #56
@z3ntu this is the right repo. this repo is a central place for issues and wiki's.
I fixed your problem with the following commit:
https://github.com/efidroid/build/commit/68ab0418db6af8cf3b4ad5abbceb454eab69f745

[2016-10-27 13:13] #56 closed

[2016-10-27 14:50] z3ntu commented on #56
Thanks for the quick fix 👍
For my latter question: Is it possible to recover from a broken little kernel? I don't really want to flash a lk if I don't know if that really works.
I have suspicions because the LK actually loads fastboot and I don't know any other way to flash the LK other than fastboot.

[2016-10-27 15:01] M1cha commented on #56
we don't replace the stock bootloader. for testing development versions we use fastboot boot only.
for installing it permanently we flash uefi_boot.img to the boot partition and uefi_recovery.img to the recovery partition.

[2016-10-27 15:11] z3ntu commented on #56
The problem is, that the bootloader for my phone has a bug, that "fastboot boot" doesn't work with the fastboot error I wrote above.
IRC log from a developer and me:

[16:46] <part> z3ntu: Let me check
[16:54] <z3ntu> part: I even get the error with the boot.img from the package fp2-sibon-16.10.0-manual-userdebug
[16:56] <part> z3ntu: I get the same
[16:56] <part> [224940] fastboot: download:0064d

[2016-10-27 15:25] M1cha commented on #56
just flash it to your recovery or boot partition then. if it doesn't work you can just reflash the correct boot.img or recovery.

btw: fp2 has official public sources including the bootloader? I gotta take a look at that.

[2016-10-27 16:07] z3ntu commented on #56
Yes, they have a ROM called "FP Open" which is 99% open source what means that you can build it yourself but it still contains those nasty binary blobs. :/ And the release of "FP Open" is mostly at least half a month behind the GMS (Google Mobile Services) ROM which contains many fixes earlier. Also their ROM has many weird bugs such as that the OS isn't able to set the hardware clock (probably a

[2016-10-27 21:58] z3ntu commented on #56
So I have managed to get efidroid working (had to sign the lk.img file) but it doesn't show neither android nor the recovery... any idea? maybe I have missed some wiki page.

[2016-10-28 04:16] M1cha commented on #56
that's normal because since efidroid is supposed to be installed on all kernel partitions they would never contain anything useful anyway - so they are ignored.

if you boot to recovery from within efidroid once, he'll create the redirection images on the esp which you can flash to using dd then.

What you've missed from the guide is the local otaserver part.
What I've just explained is a workarou

[2016-10-28 05:59] z3ntu commented on #56
I have already got the OTA server working. So you mean I should boot uefi_recovery.img ?

[2016-10-28 08:02] z3ntu commented on #56
Another question: The variable `$TARGET_GRUB_KERNEL_OUT` is apparently never set (is only used in `build/uefiappconfigs/grub/grub.sh`) but is used for several commands. Is there anything wrong in my environment?

[2016-10-28 08:13] z3ntu commented on #56
And something in the app crashes and therefore fails to work correctly

10-28 10:11:08.115 9622-9831/org.efidroid.efidroidmanager W/System.err:     at java.lang.Object.wait(Native Method)
10-28 10:11:08.115 9622-9831/org.efidroid.efidroidmanager W/System.err:     at java.lang.Object.wait(Object.java:422)
10-28 10:11:08.115 9622-9831/org.efidroid.efidroidmanager W/System.err:     at org.efidroid.ef

[2016-10-28 08:18] z3ntu commented on #56
Oh okay, after I have installed efidroid via the app Android and the recovery shows up, so that's not a problem anymore

[2016-10-28 08:19] z3ntu commented on #56
Oh yeah and the volume down button doesn't work, only the volume up and the power button (the phone also has a camera button but I don't think there would be any usefulness just for this phone to do something with that button)

[2016-10-28 08:52] M1cha commented on #56
- recovery as in TWRP, not uefi_recovery, it would create the ESP too(like installing from the app would)
- there are many unused variables since most of them are auto generated :) grub isn't used at all in this project
- the java warning is normal
- #54 won't help you since I assume that UEFI doesn't show you an error message, that ticket is for providing more information, not adding more debug a

[2016-10-28 10:39] z3ntu commented on #56
Thanks for your help until now, but the msm8974 platform thingy doesn't have a method similar to [`gpio_status`](https://github.com/efidroid/bootloader_lk/blob/qcom/LA.BF64/platform/msm8974/include/platform/gpio.h), see [here](https://github.com/efidroid/bootloader_lk/blob/qcom/LA.BF64/platform/msm8974/include/platform/gpio.h) so I don't know how to access the GPIO with that.

[2016-10-28 10:48] M1cha commented on #56
ofc it does: https://github.com/efidroid/bootloader_lk/blob/qcom/LA.BF64/target/msm8974/init.c#L116

[2016-10-28 10:49] z3ntu commented on #56
So I should copy and modify that function in this init.c file?

[2016-10-28 10:50] M1cha commented on #56
yes, voldown uses pmic resin by default, just use gpio for that too.

[2016-10-28 11:13] z3ntu commented on #56
Thanks, volume down now works :) (also thanks to the [fairphone lk](https://github.com/FairphoneMirrors/android_kernel_lk_fairphone_fp2/blob/fp2-sibon/target/FP2/init.c#L162)). Now is there any way to get the dmesg in efidroid? I didn't find any useful command with `fastboot oem help`

[2016-10-28 11:29] M1cha commented on #56
you can get the dmesg the usual way: cat /proc/last_kmsg
If you phone doesn't support pram or your kernel has lastkmsg disabled you're pretty much out of luck.

Can you try to boot without ramdisk patching? if that works we at least know that the kernel technically boots and that it's a multiboot problem only.

[2016-10-29 09:01] z3ntu commented on #56
Booting with an unpatched ramdisk (holding power long on Android and confirming) goes back to efidroid as before...
So tried the following right now: efidroid -> boot android -> goes back to efidroid -> rebooting to bootloader -> fastboot boot recovery.img -> getting /proc/last_kmsg which got me [this](http://pastebin.com/gc4mZd3j) but I am quite sure that's the last_kmsg one boot too late. Is it

[2016-10-29 09:23] M1cha commented on #56
@z3ntu that's actually the dmesg from the previous android boot(so it's "one too early).
What this means is that there's a "low level" booting problem and that you can stop testing patched boot now until we fixed unpatched boot. Also I recommend testing with unpatched recovery since it's a much less sensitive environment.

please run fastbootwrapper oem dump-atags atags.bin from within lk.img and

[2016-10-29 09:48] z3ntu commented on #56
for anyone other than @M1cha and me: we continued the conversation on slack :)

[2016-10-29 13:23] M1cha commented on #56
for everybody else: there was a problem which caused UEFI to not shut down the LCD.
I fixed that but z3ntu doesn't need that anyway since he can use the 2ndstage driver with the dma trigger enabled.

[2016-10-29 14:37] M1cha opened #57 "autoboot (timeout) support"

[2016-10-29 17:56] M1cha opened #58 "SailfishOS support"
ramdisk:
[code]

rootfs:
[code]

[2016-10-30 20:45] Roysten opened #59 "Efidroid app Xiaomi mi2s"
I cannot install efidroid for the Xiaomi mi2s, the info.json file does not exist...
https://raw.githubusercontent.com/efidroid/ota/master/xiaomi/aries/info.json

It is a shame, would love to try this great project :)

[2016-10-30 20:49] Roysten commented on #59
The app is stuck at the following screen:
![image](http://imgur.com/g0m43Qv)

[2016-10-30 20:53] M1cha commented on #59
I didn't enable the OTA server for this device yet because I couldn't figure out some major problems with booting MIUI.

[2016-10-30 21:10] Roysten commented on #59
I see. Xiaomi doing some weird/non-standard stuff?

Maybe it is a good idea to show the supported devices in the app or at the very least put it in the app description on Google Play.

[2016-10-31 01:03] z3ntu commented on #58
Jolla has a kind of bug tracker, maybe they can improve the situation... https://together.jolla.com/questions/

[2016-10-31 05:02] M1cha commented on #58
but do all devices use the latest version of sailfishOS? If 90% of all people would be using old ROM's like in Android that wouldn't actually change much.

[2016-10-31 09:28] z3ntu commented on #58
I believe some part of SailfishOS is updated from upstream where as the "hardware abstraction layer" gets updated by the community porters. (But I neither know where the "absolute paths" for the mounts are or anything else :/ )

[2016-10-31 14:37] z3ntu opened #60 "App shouldn't just check for new version number but also for new build date"

[2016-10-31 14:48] z3ntu commented on #60
Sorry, I didn't notice the `timestamp` attribute in the `info.json` file (which should be set to the unixtimestamp of the build and is compared against the unixtimestamp of the currently installed build).

[2016-10-31 14:48] #60 closed

[2016-11-01 06:42] M1cha commented on #59
@Roysten usually devices without support can't even open the app but since I started developing on mi2, it has a ota entry already. Sorry about that.

[2016-11-01 06:42] #59 closed

[2016-11-01 07:25] #52 closed

[2016-11-01 14:52] z3ntu opened #62 "TWRP doesn't unmount /system before flashing"
will add detail later

[2016-11-01 14:52] z3ntu commented on #19
sounds great :D

[2016-11-01 15:00] z3ntu opened #63 "Add some text in the "Operating Systems" screen"
(Manager app)

Add a text like "There's no secondary ROM" or something when the screen is empty otherwise.

[2016-11-01 15:07] M1cha commented on #63
I'm sure how I could do this in a way it would actually look good.

[2016-11-01 15:15] M1cha commented on #58
the path itself isn't the problem. The problem is that they're storing these path outside the ramdisk which means that efidroid would have to permanently alter the system.

[2016-11-01 15:48] z3ntu opened #64 "fastboot wrapper improvements"
`fastbootwrapper oem screenshot 0` gives back an error because the path wasn't given
[code]
There should be a help message how to use it and/or instructions in the wiki.

[2016-11-01 16:10] Arvil opened #65 "User-friendliness and Developer-friendliness improvements proposals"
- [ ] Make the download repository able to be optionally changed (so that dev builds are easier to deploy, because using the adb root shell to modify one of the app's variable is counter intuitive)
- [ ] Add a simple text message after the device has been successfully created to say `You can now reboot into UEFI, select the recovery then point to your newly created device configuration to install

[2016-11-01 16:26] z3ntu commented on #65
3. See #42
4. You don't have adb access in the UEFI so you can't pull it there. See #54
5. Already asked @M1cha 👍  https://f-droid.org/forums/topic/efidroid/

[2016-11-01 16:36] Arvil commented on #65
1. OK removed the duplicate, failed to find it somehow when writing this.
2. The question was more about whether I had to pull it from UEFI or Recovery (pulling or copying it might then be implemented in EFIDroid's file manager).
3. I proposed DDL and _custom_ F-Droid because of the rapid development circle and the fact F-Droid is not always very reactive to new versions (IIRC) because of their st

[2016-11-01 21:13] z3ntu commented on #58
I just tried booting with the stock sailfish os install and it instantly reboots.
I have a last_kmsg but unfortunately it's 99.9% unreadable... I don't even attach it as it's just a random pile of garbage...

[2016-11-01 21:21] z3ntu opened #66 "OS Labels misaligned in UEFI"
![screenshot](https://cloud.githubusercontent.com/assets/3768500/19907933/41529220-a081-11e6-9871-6d7fbd84b616.png)

[2016-11-02 05:07] M1cha commented on #66
looks like you have a description with a space there

[2016-11-02 10:11] z3ntu commented on #62
[code]

[2016-11-02 10:17] M1cha commented on #62
if that's from a recovery.log and you're using a loop image for system then it's totally normal.
If your ROM doesn't do any formatting then you have to do that manually using twrp.

[2016-11-02 18:09] M1cha commented on #64
I've improved the code and updated the wiki documentation.

[2016-11-02 18:09] #64 closed

[2016-11-02 18:15] M1cha commented on #65
first off, that log is in RAM, it's not a real file. Also that's a linux feature. Neither LK nor UEFI know about this.

the official XDA thread has download links(atm they're not up2dat though) I'm working on F-Droid

I could use a fullscreen overlay instead of the window, but allowing to use any part of the app just can't be done.

[2016-11-03 02:38] saschaelble opened #67 "Fails to get selinux context in twrp"
Note 3
twrp 3.0.2-1
patched boot

Recovery.log
I:Copying file /cache/recovery/log to /cache/recovery/last_log
tw_get_context failed to get selinux context
I:Failed to get default contexts and file mode for storage files.

[2016-11-03 02:39] saschaelble opened #68 "Partitions do not mount or still point to original during patched boot"
Bootted in patched mode, using a recovery on a slotted rom.

InternalSD - won't mount

/system - mounts after wipe, but now points to original
/cache - same?

/data - does not mount, even after wipe

1. Select twrp 3.0.2-1
2. Select a slotted "rom"
3. Attempt to mount all partitions
4. Wipe all "new" partitions that would not mount in #3
5. Observe partition size does not match created value, but

[2016-11-03 02:56] saschaelble commented on #47
Make this an app downloadable from efidroidstore?

[2016-11-03 03:04] saschaelble commented on #40
Using a 5 second autoboot timer (boot last used rom), would fix : power failure, reboot because of crashes, wakeup alarms?, also would prevent device from just sitting at bootmanager screen with screen on until battery is dead.

Should act like a normal phone and be able to reboot itself properly in the event user is not aware or present.

[2016-11-03 05:34] M1cha commented on #67
is that even a bug? Verify if that happens with unpatched boot too.

[2016-11-03 05:41] M1cha commented on #68
please run fastboot oem setnvvar multiboot-debuglevel 0 in uefi fastboot and then post a dmesg too.

[2016-11-03 05:44] M1cha commented on #47
@saschaelble these apps would run in UEFI, not Android.
Also I don't want to implement this because it doesn't make any sense imo and the app can't really know which options there are(we can't rely on a specific app version being installed either).

closing this now.

[2016-11-03 05:44] #47 closed

[2016-11-03 05:45] M1cha commented on #40
@saschaelble it would not fix the wakeup alarm issue because EFIDroid has to reboot to the system which set the alarm, not the last active one because it's the only one which would actually start an alarm once booted up.

[2016-11-04 02:18] saschaelble commented on #68
dmesg
<6>[    0.000000] Booting Linux on physical CPU 0
<6>[    0.000000] Initializing cgroup subsys cpu
<5>[    0.000000] Linux version 3.4.110-idleKernel-hlte-tmo-twrp-7.0.0 (jc@gallifrey) (gcc version 4.9.4 20150629 (prerelease) (crosstool-NG 1.20.0 - Linaro GCC 2015.06 - Cortex-A15) ) #1 SMP PREEMPT Sun Feb 7 18:10:21 EST 2016
<4>[    0.000000] CPU: ARMv7 Processor [512f06f0] revision 0 (ARMv7

[2016-11-04 02:22] saschaelble commented on #67
This is not present in unpatched boot. It is a bug:
Unpatched:
I:Copying file /cache/recovery/log to /cache/recovery/last_log
tw_get_context got selinux context: u:object_r:media_rw_data_file:s0
I:Got default contexts and file mode for storage files.

[2016-11-04 14:45] saschaelble commented on #68
I am unable to reproduce this bug.

[2016-11-04 14:45] #68 closed

[2016-11-04 15:04] M1cha commented on #67
this may be related to your previous bug because in case the cache partition can't be mounted all the files land on the rootfs - which doesn't support selinux contexts.

[2016-11-05 23:22] profOnno commented on #58
Here is how my mounts look in a gist for [android and sailfish](https://gist.github.com/profOnno/69da6bd8cd74ccfc48998e12829bbeef).
The [HADKit](https://sailfishos.org/wp-content/uploads/2016/10/SailfishOS-HardwareAdaptationDevelopmentKit-1.1.2.pdf) has some info in chapter 5.3 on this if I am correct.

I just did my first OASP for FP2 this weekend, flashed it and it worked. Now I'm looking to set

[2016-11-06 10:14] z3ntu commented on #58
If I may ask, what's a "OASP"?

[2016-11-06 11:38] profOnno commented on #58
Oops, ment AOSP (Android Open Source Project).

[2016-11-06 11:51] z3ntu commented on #58
What device tree & manifest did you use for that? Or do you mean that you compiled "FP Open"?

[2016-11-07 12:00] profOnno commented on #58
I assumed  the "FP Open" to be the same as AOSP, with some extra sugar.

[2016-11-07 12:19] z3ntu commented on #58
Well they use to some extent customized sources to make Android compile which are based on the codeaurora sources.

[2016-11-07 19:31] z3ntu opened #69 "Change recovery in the app"
It would be nice if there was a graphical way to just swap the recovery.img instead of changing the file `/sdcard/UEFIESP/partition_recovery.img` (but this also works)

Also somehow related to #21

[2016-11-07 19:51] feherneoh commented on #69
You can just flash a new recovery.img from TWRP, that will overwrite that file (unless recovery is booted unpatched)

[2016-11-07 20:21] M1cha commented on #69
yes as feh said and as I already told you, you can use any recovery installer in Android, update.zip in Recovery or 'dd' from the console to flash to the virtual partition - as long as you're using patched boot.

If I don't explain a concept to users it's usually because EFIDroid handles everything and the user really doesn't have to know about it.

[2016-11-07 20:22] #69 closed

[2016-11-08 21:12] profOnno commented on #58
Is this helpful?
[code]
[hadk-faq-v2](http://piratepad.net/hadk-faq-v2) @ simcard not detected

[2016-11-08 22:58] feherneoh commented on #58
At least one partition should have an entry on ramdisk, and the ones on /system or any other partition can be replaced without being actually modified by bindmounting another file on top of them

[2016-11-10 11:02] z3ntu opened #70 "Ubuntu Touch support"
Will/could probably be solved at the same time as #58 as Ubuntu Touch also uses libhybris.

[2016-11-10 16:42] M1cha opened #71 "add support for preventing write-access to fstab.multiboot"

[2016-11-10 21:48] feherneoh commented on #71
My idea would be using images created by truncating on a ramdisk to fake the partition

[2016-11-10 22:16] z3ntu commented on #58
First: All files that contain `mmcbl` in the rootfs:

lib/systemd/system/persist.mount:#     mount ext4 /dev/mmcblk0p14 /persist nosuid nodev barrier=1
lib/systemd/system/system.mount:What=/dev/mmcblk0p13
lib/systemd/system/system.mount:# /dev/mmcblk0p13         /system      ext4    ro,barrier=1,discard                                wait
lib/systemd/system/firmware.mount:What=/dev/mmcblk0p1
lib/s

[2016-11-11 05:38] M1cha commented on #71
@feherneoh yes that was my idea too.

the funny thing is that it's been just a few weeks since I made the redirection code very flexible.
Without that this issue would have been a lot of work :D

[2016-11-11 15:52] z3ntu commented on #70
Gonna take a look.

[2016-11-11 17:26] M1cha commented on #71
couldn't we even just prevent write-access to ALL partitions except for the multiboot ones?
all changes outside the multiboot parts would be global and a multiboot rom should never be able to make global changes.

I'd exclude /data/media and non-internal devices like sdcard's though.

[2016-11-18 15:41] muertead commented on #50
Opengapps 7.1 freezes on removing obsolete apps. Device OnePlusOne, twrp tugapower, twrp 3020. Not of  7.1 gapps working

[2016-11-18 15:52] M1cha commented on #50
while installing to a multiboot system or to the internal one?
does it make a difference when you use adb sideload vs choosing the zip from the device?

[2016-11-18 16:35] z3ntu commented on #57
I want this now^^

[2016-11-19 10:17] xakep666 opened #72 "Can`t boot HydrogenOS on OnePlus One"
Compiled lk.img with current config, sent boot.img via fast boot, got message "[0] can't allocate kernel boot memory at 8000 size 7669336", than reboot.
Made config based on boot.img from this rom (fdt-based). Booting boot.img via new lk.img gives no error messages, but also phone also reboots. Booting as primary or secondary rom gives reboot, but after it I can't get into recovery (stucks at "Boo

[2016-11-19 10:25] M1cha commented on #72
Did you do a fresh build by doing rm -Rf out/ ? That wasn't clear from the conversations on slack.

[2016-11-19 10:27] xakep666 commented on #72
Yes, cleaned before every new build

[2016-11-19 10:46] M1cha commented on #72
add the following line in https://github.com/efidroid/bootloader_lk/blob/common/shared/lib/boot/platform.c#L196:

`dprintf(CRITICAL, "%s(%u, %u) MB=%u MS=%u\n", __func__, addr, sz, MEMBASE, MEMSIZE);`

then try to boot again and post the resulting `fastbootwrapper oem lk_log`

[2016-11-19 12:35] muertead commented on #50
I was trying to install on multiboot system. Internal rom is COS13.1.2, I dont need to install gapps on internal rom. Maybe there is opportunity to swap roms and then i will try flash gapps on internal rom.
Sorry didn't tried adb sideload,  cause i dont know how to do it

[2016-11-19 12:58] M1cha commented on #50
you don't need to try adb sideload then since it would only make a difference the other way around.
I'll have a look to find out what's causing this.

[2016-11-19 22:59] xakep666 commented on #72
Log when kernel loads and starts is not available (on display only debug and info messages). Here is log before `fastboot boot fdt-recovery.img`
D/[0] smem ram ptable found: ver: 0 len: 5
E/[0] tried to map 0x0f900000-0x0fa00000 as XN - ignore
D/[0] smem ram ptable found: ver: 0 len: 5
I/[0] welcome to lk

D/[0] calling constructors
D/[0] initializing heap
D/[0] initializing threads
D/[0] initiali

[2016-11-20 05:12] M1cha commented on #72
but you said that the kernel does not load and that fastboot aborts with an memory allocation error.

[2016-11-20 10:56] xakep666 commented on #72
Allocation error appears at qcdt based config. This log from fdt based config.

[2016-11-20 11:09] M1cha commented on #72
pls test with the qcdt config then because that's what I've asked for.

[2016-11-20 15:41] xakep666 commented on #72
Synced last version of efidroid, compiled with qcdt config (from repo), no allocation error appeared.
Log after lk.img start
D/[0] smem ram ptable found: ver: 0 len: 5
E/[0] tried to map 0x0f900000-0x0fa00000 as XN - ignore
D/[0] smem ram ptable found: ver: 0 len: 5
I/[0] welcome to lk

D/[0] calling constructors
D/[0] initializing heap
D/[0] initializing threads
D/[0] initializing dpc
D/[0] initi

[2016-11-20 18:01] M1cha commented on #72
you have to dump the log after running fastboot boot

[2016-11-20 20:01] xakep666 commented on #72
I can't dump log after "fastboot boot" . Fastboot hangs with "waiting for device".

[2016-11-20 22:29] xakep666 commented on #72
Also, if I try to boot fdt-based recovery (from this rom), phone reboots to recovery selection menu (with efidroid) or directly to recovery (without efidroid).

[2016-11-21 06:29] M1cha commented on #72
But you said  that if you're seeing a memory allocation error, if that's the cae you should still have fastboot after running fastboot boot and you should be able to dump the log.

[2016-11-27 14:23] xakep666 commented on #72
Got access to UART. Here is log (allocation error disappeared. I don`t know why)
Format: Log Type - Time(microsec) - Message
Log type: B - since boot(excluding boot rom).  D - delta
B -    152042 - SBL1, Start
B -    157288 - scatterload_region && ram_init, Start
D -         0 - scatterload_region && ram_init, Delta
B -    174277 - pm_device_init, Start
D -     27541 - pm_device_init, Delta
B -

[2016-12-02 08:27] M1cha commented on #72
I've made changes to libboot. can you test both situations again?

[2016-12-03 00:21] sub77 commented on #50
i can confirm that on moto g falcon with all variants and sdks of opengapps while delta gapps do a proper installation.
a workaround is to use twrps built busybox instead of bb provided by opengapps.

[2016-12-03 08:49] M1cha commented on #50
Unfortunately I'm unable to reproduce this with
- twrp-3.0.2-0-condor.img
- cm-14.1-20161110-UNOFFICIAL-condor.zip
- open_gapps-arm-7.1-pico-20161202.zip

I need more information:
- exact versions of things used like I did in this pos
- where does it freeze?(what's the last message printed)
- is it a system freeze or an installer freeze?(does the progress bar animation still work and can you still

[2016-12-04 10:57] xakep666 commented on #72
Okay, synced, removed "out" directory
Here is log with qcdt-based config
[code]
Here is log with fdt-based config
[code]
Both configs gives same result - reboot

[2016-12-04 18:59] muertead opened #73 "SuperSU issue"
Hi roms (Tugapower N9 and earlier realeses) with SuperSU preinstaled does not boot,  it restarts from selection screen/menu and again goes back to selection/menu. Roms without SuperSU boots normaly,  but it has superuser preinstaled, si I tried to flash SuperSU (stable and/or beta realeses) and the rom does not boot it restarts (tried with cm14.1 nightlies,  Resurrection Remix). My device OPO,  CO

[2016-12-04 19:01] M1cha commented on #73
1) always post the error messages that are shown after a reboot
2) this should have been fixed already but the 1+1 build hasn't been updated yet.

[2016-12-04 19:13] muertead commented on #73
I would show error message,  but there are no any. Ok I shall wait for updated build for my device

[2016-12-04 19:47] xakep666 commented on #73
It`s a problem with file_contexts parsing. I member that @M1cha already fixed it. I tried to boot this rom with efidroid compiled from fresh sources. Rom booted up successfully.

[2016-12-04 19:55] M1cha commented on #73
yes but u saw an error message. It's weird that he doesn't.
Also I've just downloaded 'Tugapower N9' and file_contexts.bin is a binary, not a text file.

[2016-12-04 19:59] xakep666 commented on #73
SuperSU decompiles file_contexts.bin in systemless installation mode (makes it text and applies patch). So problem source is not a rom.

[2016-12-04 20:24] M1cha commented on #73
well but as I said. I check his ROM and file_contexts.bin is a binary file, not a text file.

[2016-12-05 21:59] xakep666 commented on #50
So, I reproduced this situation.
Made 3 experiments.

Experiment 1:
What`s used:

- twrp-3.0.2-0-bacon.img
- cm-14.1-20161121-jgcaap-bacon.zip
- open_gapps-arm-7.1-micro-20161205.zip
- no efidroid (booted recovery via fastboot)

Result: gapps flashed successfully without any errors/warnings

Experiment 2:
Used:
- same twrp, gapps, rom
- efidroid (twrp installed to efidroid)

Result: flashing stuck

[2016-12-06 05:20] M1cha commented on #50
@xakep666 thx for the detailed information. I extracted the kernel of the broken recovery and it'S name is '3.4.110-cyanogenmod-g537566c' which means it was compiled with commit '537566c'. I can't find this commit anywhere though, can you research/ask the maintainers where the kernel comes from?

[2016-12-09 11:50] M1cha commented on #73
@muertead pls try again with the new build and report back

[2016-12-09 12:21] z3ntu opened #74 "Provide ROM icons shipped with the app"
For example:
![](https://screenshots.en.sftcdn.net/en/scrn/69671000/69671132/cyanogenmod-installer-04-535x535.png)
![](http://aokp.co/images/aokp-logo-large.png)

[2016-12-09 13:33] M1cha commented on #50
@xakep666 can you add the flag '-x' to the interpreter line in installer.sh and try again? this should show the exact commands so we see what exactly is causing the segmentation fault.

[2016-12-09 15:17] muertead commented on #73
Thanks for the new build, but now if I want to enter recovery I get Error: "Unable to find suitable device tree for device (208/0x00010001/0x00010108/0). Press Ok then get Error :" tagloader 'qcdt'(2) returned -1. Press OK and want to boot to my official rom and get the same Errors. How can I go back (except of course for doing reset of all system, dont realy know how to do it, if I cannot enter r

[2016-12-09 16:30] M1cha commented on #73
sounds like @xakep666 got more work todo :P I guess for now you either have to use an old version( https://github.com/efidroid/files/releases/download/builds/otapackage-20161110-oneplus_bacon.zip ) or wait until he fixed the device.

[2016-12-09 16:40] muertead commented on #73
Imanaged to get back to my internal rom by flashing twrp 2.8.7.0 over previuos tuga twrp 3.03.0, and flashed internal rom again. And everything is ok, no data lost. Wait for fix 😂

[2016-12-11 07:33] M1cha commented on #50
@z3ntu thx for this useful report.

It looks like it's some fork/clone race condition. For reference, the following script can reproduce the bug with any busybox.
`#!/sbin/ash

set -e

complete_gapps_list() {
  cat <<EOF
EOF
}

while :; do complete_gapps_list; done
`

[2016-12-11 20:04] xakep666 commented on #72
Libboot and device config fixes gives better result: efidroid can boot h2os, but only when "force selinux to permissive" option enabled. Otherwise boot hangs. Log
[code]

[2016-12-12 10:07] M1cha commented on #50
this issue should be fixed now.

[2016-12-12 10:24] M1cha commented on #73
@muertead can you 'fastboot boot' this file and send me the output of fastboot oem lk_log?
https://transfer.sh/2qVYz/lk.img

[2016-12-12 10:53] muertead commented on #73
I am not developer so if I will do something wrong don't be mad. I will try to tomorrow. P. S.  I have never did the fastboot boot.

[2016-12-13 06:07] M1cha commented on #73
@muertead sbd. else who had the same issue ran the tests for me already and I found a possible solution, so you don't have to become a developer :P

[2016-12-13 06:40] M1cha commented on #42
it's supported now

[2016-12-13 06:40] #42 closed

[2016-12-13 06:56] M1cha commented on #72
this should be working now.

[2016-12-13 11:20] muertead commented on #73
Ok. Still wait for stable realese😉

[2016-12-13 17:32] xakep666 commented on #50
Gapps installation is working on my device, tested with different recoveries.

[2016-12-13 18:07] xakep666 commented on #72
Same problem. Rom won`t boot up if "force permissive" disabled
Kernel log
[code]

[2016-12-13 21:23] z3ntu opened #75 "Settings app crashes in Fairphone OS"
I didn't try it myself but a person using efidroid on his Fairphone experienced this issue when using Fairphone OS as a secondary ROM. Fairphone OS download links if you want: https://fairphone.zendesk.com/hc/en-us/articles/213290023-Fairphone-OS-downloads-for-Fairphone-2

[2016-12-14 04:22] M1cha commented on #72
can you post a log from permissive mode pls?
If I fix all permissions from an enforcing log there just will be more errors next time. in a permissive log we see all errors at once.

[2016-12-14 05:07] M1cha commented on #73
@muertead a new build is out for you to test :)

[2016-12-14 06:54] xakep666 commented on #72
Dmesg from permissive mode
[code]

[2016-12-14 20:24] muertead commented on #73
Hi. Everything works great. Tested roms: TugapowerN10, Resurrection Remix newest build, CM14.1 latest. SuperSu 2.78 sr5. Roms booted after second atempt, first time restarted to selection menu of efidroid, second time booted succesfully. Also opengapps nano booted succesfully with twrp 3020. Other twrps (tuga 3033, twrp 2.8.7.0) got error 2.
Thanks for the build.

[2016-12-14 20:34] M1cha commented on #73
can you tell me the exact error message shown when booting "other twrps"?

[2016-12-15 04:22] TangYang798 opened #76 "platform msm8992"
Will you support platform msm8992?

[2016-12-15 04:47] M1cha commented on #76
LK does already support it. (use the msm8994 target)
If you're waiting for complete support(e.g. beause it's a 64bit device) you have to wait a little bit longer.
I'm actually working on a msm8992 which I own so it's just a matter of time.

[2016-12-15 07:08] M1cha commented on #72
I've pushed new commits, so try again

[2016-12-15 12:58] TangYang798 commented on #76
@M1cha OK, thank you.

[2016-12-15 12:58] #76 closed

[2016-12-15 21:36] muertead commented on #73
Sorry. I tried now on twrp tuga 3033, and it flashed good. Will test more and if I get error,  will post.

[2016-12-16 04:31] M1cha commented on #73
I'm closing this then since this talk is not related to supersu anymore. If you have more problems, create new tickets.

[2016-12-16 04:31] #73 closed

[2016-12-16 04:33] #67 closed

[2016-12-16 04:37] M1cha commented on #34
It doesn't seem to be THAT slow anymore and I've fixed many bugs which could have caused that, so I'm closing this for now.

Also the plan is to replace dynfilefs with unallocated ramdisk files.

[2016-12-16 04:37] #34 closed

[2016-12-16 04:39] M1cha commented on #30
generating two sets of binaries is still needed. 64bit tracers can trace both 32 and 64bit processes but not the other way around.

[2017-01-08 03:49] M1cha opened #77 "add LOKI support"
- [ ] add loki support to unpackbootimg
- [ ] add loki support to efidroid's boot.img loader the the patch can be reverted when trying to boot a loki image using efidroid
- [ ] add loki support to the installer for applying the patch on efidroid itself

[2017-01-12 16:59] M1cha commented on #71
fixed with https://github.com/efidroid/modules_multiboot/commit/fdd4fc66030c8987eaf4092eba7b885e9ef9f2d3

[2017-01-12 16:59] #71 closed

[2017-01-12 17:00] M1cha commented on #25
64bit devices are fully supported now.

[2017-01-12 17:00] #25 closed

[2017-01-12 17:00] M1cha commented on #30
this is supported now using the new build system

[2017-01-12 17:00] #30 closed

[2017-01-12 17:01] M1cha commented on #38
this should be working already

[2017-01-12 17:01] #38 closed

[2017-01-12 17:02] #50 closed

[2017-01-12 17:04] M1cha commented on #75
this report needs a logcat to be of any use.

[2017-01-12 17:15] #72 closed

[2017-01-18 13:12] M1cha opened #78 "add support for flashing sparse images"

[2017-01-18 13:14] M1cha opened #79 "port and test libskia"
the goal is to check if skia is a good libaroma alternative.
important factors are:
- binary size
- speed

if the speed is too bad we can take a look at libagl + libpixelflinger

[2017-01-22 12:34] xakep666 commented on #77
Actual LOKI sourcecode https://github.com/djrbliss/loki

[2017-02-08 23:31] arne-claeys commented on #75
I have encountered the same issue.
As soon as I try to open the system settings in Fairphone Open OS (my secondary system) it crashes immediately.
In my case it seems to be caused by a NullPointerException in android.security.IKeystoreService.exist.
When I enable the PIN code on my lock screen, the same error leads to a crash of SystemUI. Once upon a few reboots I don't have this problem.
A second

[2017-02-08 23:37] arne-claeys commented on #75
Also while starting the Network Management Service a NullPointerException occurs in android.security.IKeystoreService.exist

F/SystemServer( 1211): BOOT FAILURE making Network Managment Service ready
F/SystemServer( 1211): java.lang.NullPointerException: Attempt to invoke interface method 'int android.security.IKeystoreService.exist(java.lang.String, int)' on a null object reference
F/SystemServer

[2017-02-09 08:45] z3ntu commented on #75
@arne-claeys thanks for the stracktrace 👍

[2017-02-09 22:19] arne-claeys commented on #75
This should be another useful error in my log.

`E/QCOMKeyMaster(  328): Keymaster app not loaded: Max attempts reached
E/keystore(  328): could not open keymaster device in keystore (Operation not permitted)
E/keystore(  328): keystore keymaster could not be initialized; exiting`

This error is logged by /system/bin/keymaster after it calls /vendor/lib/libQSEEComAPI.so
QSEEComAPI doesn't write an

[2017-02-25 22:44] gabixdev opened #80 "some kernels doesn't load because of compression methods"
On my EFIDroid port (unmodified code) some kernels returns `Cant find tagloader for type RAW (-1)` if they are packed with gzip method, but LZMA-packed kernels boots correctly.
I'm not sure that it happens on other ports, please tell me here.

[2017-02-26 06:25] M1cha commented on #80
can you upload a boot image that's not working?

[2017-02-27 19:36] gabixdev commented on #80
https://pixelwolf.net/efidroid/boot_stock.img - Working CyanogenMod 13 image with LZMA-packed kernel
https://pixelwolf.net/efidroid/boot-fix.img - Non-working MIUI 7 image with GZip-packed kernel
https://pixelwolf.net/efidroid/twrp-3.0.2-0-jfltexx.img - Working TWRP image with LZMA-packed kernel
https://pixelwolf.net/efidroid/twrp_broken-3.0.2-0-jfltexx.img - Non-working TWRP image with GZip-packe

[2017-03-07 22:20] GabrielTK opened #81 "Nexus 9 UART Debugging"
Hey guys. I was just reading the "Porting to a new device" page and I the "another device that has a good way to debug" comment. That's why I'm telling you guys about Nexus 9.

Debugging procedure it's available [here (it's the same as Nexus 7 I think)](https://delta.zauner.one/154-nexus-7-uart-unlocked/)

Also, Pixel support would be good.

[2017-03-08 04:01] npjohnson opened #82 "Nexus 6 Support"
ARCH: APQ8084
OEM: Motorola
Branch used to build: LA.BR or LA.BF (both get the same result)

LK builds surprisingly quickly. Whether booted or flashed to the Boot partition, LK doesn't initialize, and it hangs at the Google (aboot) logo. No LK access over USB.

[2017-03-08 04:03] npjohnson opened #83 "Nexus 6P Support"
ARCH: MSM8994
OEM: Huawei
Branch used to build: LA.BF64

Whether booted or flashed to the Boot partition, LK doesn't initialize, and it hangs at the Google (aboot) logo. No LK access over USB.

This is likely due to the looming "LK doesn't boot on 64-bit devices" we don't understand yet.

[2017-03-08 04:08] npjohnson opened #84 "HTC One M8 (GPE) Support"
ARCH: MSM8974
OEM: HTC
Branch used to build: LA.BF64

LK builds fine, and boots with no display. If I used the display DTB option, display works just fine.

UEFI builds fine, but whether booted or flashed to the Boot partition, UEFI doesn't initialize, and it hangs at the Google (aboot) logo. While hung at the Google logo, I can see the device with fastboot over USB, but any attempt at executing a

[2017-03-08 04:19] npjohnson opened #85 "Verizon Samsung Galaxy S4 Support"
ARCH: MSM8960 (actually apq8064t, but msm8960 build target)
OEM: Samsung
Branch used to build: LA.BF64

NOTE: This device requires all images to be LOKI'd. The good news is that LK/UEFI both get along with LOKI's weird loading address trickery.

LK builds fine, and boots with display.

UEFI builds fine, and boots to the selection menu, with buttons fully functional! I am, however, unable to boot t

[2017-03-08 04:20] npjohnson opened #86 "Pixel/Pixel XL Support"
ARCH: MSM8996
OEM: "Google" (HTC)
Branch used to build: LA.UM

Whether booted or flashed to the Boot partition, LK doesn't initialize, and it hangs at the Google (aboot) logo. No LK access over USB.

This is likely due to the looming "LK doesn't boot on 64-bit devices" we don't understand yet.

[2017-03-08 06:37] M1cha commented on #81
Nvidia Tegra K1, sounds interesting.
I hope you also have good knowledge because you'll have to mess with bootloaders and drivers.

According to wiki, n9 has the T132 (Denver) variant of the K1 which means you basically have to create a port from scratch. I'd start with mainstream LK, add UART support and start writing drivers from there on.

[2017-03-08 06:41] M1cha commented on #83
I always assumed the problem lies within the BR/HB branches - especially because I have a fully working 8992 device here(mi4c).

Is it possible that the bootloader used by LG is a problem?
Maybe it fails/denies to boot but doesn't show error messages and doesn't even reboot.
Or it forces booting in 64bit mode?

I'd say try sideloading the stock bootloader but I haven't even been able to do that on

[2017-03-08 06:42] M1cha commented on #84
sounds like you have two problems:
- uefi fails to initialize the scren and falls back to fastboot mode
- fastboot is broken

[2017-03-08 06:54] M1cha commented on #85
about the modem issue: did you wipe the app's data after changing the fstab?
None of the paths should be hardcoded but the app heavily caches fstab and device info.

[2017-03-08 07:43] M1cha commented on #80
are the non-working kernel built from source or are the extracted stock kernels?
because the problem is not related to the compression.
The problem is that the kernel used by your broken images (3.4.107-Imperium-v1.14) has trailing 32 bytes of garbage.
So either samsung is storing some additional data there or somebody incorrectly extracted the stock kernel.

[2017-03-08 09:02] z3ntu commented on #84
I already tried porting efidroid to the HTC One M8 (device from a friend of mine) but I believe I had similar issues. That's the configuration I had: [m8.zip](https://github.com/efidroid/projectmanagement/files/827102/m8.zip)

[2017-03-08 09:52] GabrielTK commented on #81
Ok... So... I think I can do it... But I'm a bit confused from where to start. Is there any reference for doing this??

On Mar 8, 2017 3:37 AM, "Michael Zimmermann" <notifications@github.com<mailto:notifications@github.com>> wrote:

Nvidia Tegra K1, sounds interesting.
I hope you also have good knowledge because you'll have to mess with bootloaders and drivers.

According to wiki, n9 has the T132

[2017-03-08 09:53] GabrielTK commented on #86
+1

[2017-03-08 09:55] rrgreatvijay5 opened #87 "Lenovo Vibe K5 uefi make fail"
Device: Lenovo Vibe K5
Snapdragon 415
RAM: 2GB
msm8929

So nouefi lk.img booted fine and i finalized the device
But when i make uefi build, it fails..

`/home/frosty/out/target/arm/uefiapp_LKL/EFIDroidUEFIApps/LKL/LKL.c: In function 'LKLEntryPoint':
/home/frosty/out/target/arm/uefiapp_LKL/EFIDroidUEFIApps/LKL/LKL.c:97:41: error: passing argument 2 of 'lkl_start_kernel' makes pointer from integer w

[2017-03-08 09:59] M1cha commented on #81
unfortunately no but I can help you out with information I guess
source: https://github.com/littlekernel/lk
my 8960 port: https://github.com/M1cha/lk/commits/qcom-msm8960 (look at the initial commit)
If you want to see an minimalistic initial commit(qcom needs quite a lot of drivers) look at other smaller platforms like this:

https://github.com/littlekernel/lk/commit/919a925eca1e4d0b689d77eb3434b

[2017-03-08 10:00] M1cha commented on #87
you just need to repo sync. I've fixed that error yesterday.

[2017-03-08 10:09] GabrielTK commented on #81
Ok, so I can I follow the "Porting to new devices" procedure on wiki???

On Mar 8, 2017 6:59 AM, "Michael Zimmermann" <notifications@github.com<mailto:notifications@github.com>> wrote:

unfortunately no but I can help you out with information I guess
source: https://github.com/littlekernel/lk
my 8960 port: https://github.com/M1cha/lk/commits/qcom-msm8960 (look at the initial commit)
If you want to

[2017-03-08 10:15] M1cha commented on #81
which wiki? if you mean the efidroid guide, probably not.
I suggest not to use the efidroid build system at this point because it relies on multiple qcom-lk features which are not present.

building LK is pretty easy though(and you can use efidroid's toolchain) so that shouldn't be a problem.
Also you can use efidroid's unpackbootimg and mkbootimg -r to repack a boot image with LK instead of linux

[2017-03-08 17:56] GabrielTK commented on #81
Ok... I have my Nexus 9 connected to PC right now. If anyone wants to say something my discord account is GabrielTheKitsune#5146.

On Mar 8, 2017 7:15 AM, "Michael Zimmermann" <notifications@github.com<mailto:notifications@github.com>> wrote:

which wiki? if you mean the efidroid guide, probably not.
I suggest not to use the efidroid build system at this point because it relies on multiple qcom-lk

[2017-03-08 20:23] Glove007 opened #88 "[OnePlus 3T] dtb_panel_reader.o missing?"
When I compiled NOUEFI variant of LK for the OnePlus 3T with the default display driver _DISPLAY_2NDSTAGE_ and tried to fastboot boot it, there was the error "**FAILED (remote: dtb not found)**". Because of this error I tried to choose _DISPLAY_2NDSTAGE_DTB_ as display driver so I replaced "DISPLAY_2NDSTAGE := 1" with "DISPLAY_2NDSTAGE_DTB := 1" in the lk-inc.mk. Was that right...? Because when I

[2017-03-08 20:30] M1cha commented on #88
I'm not sure why you are seeing that compilation error but the fastboot error is not related to the screen so you don't need to change that option.

try to add 'BOOTIMG_DT_KEEP_NODES = 1' in your config.ini

[2017-03-08 21:12] Glove007 commented on #88
I tried to add the mentioned string in my config.ini but I still get the same fastboot error. What means this error?

[2017-03-08 21:15] M1cha commented on #88
it means that the bootloader thinks that the boot image is incompatible.
try to use lk_origdtb.img (that's a workaround, not a fix)

[2017-03-08 21:27] Glove007 commented on #88
Booting was okay now, but now it shows me a black screen. The device must be somehow powered on, because I have to long press the power button to reboot it...

[2017-03-09 01:35] npjohnson commented on #85
I will tonight.

[2017-03-09 01:37] npjohnson commented on #83
@M1cha LG? This is Huawei. And doesn't msm8994 use LA.BF64? Not BR/HB?

[2017-03-09 01:38] npjohnson commented on #82
This relates to missing includes in the apq8084 target. Someone from Slack purportedly pull requested in the necessary changes.

[2017-03-09 01:39] npjohnson commented on #80
These are built from source. @M1cha

[2017-03-09 01:42] npjohnson opened #89 "LK doesn't boot on /most/ 64-bit devices"
As the title states.

We believe it may be due to the stock bootloaders forcing 64-bit boot modes, but have no definitive proof yet.

So far, it doesn't boot on:

- HTC One M9 (msm8994, FDT): Stuck on aboot splash screen
- Huawei Nexus 6P (msm8994, FDT):  Stuck on aboot splash screen
- LG Nexus 5X (msm8992, FDT):  Stuck on aboot splash screen
- Google (HTC) Pixel/Pixel XL (msm8996, FDT):  Stuck on

[2017-03-09 04:49] M1cha commented on #83
"LG? This is Huawei." sounds like I mixed sth. up, sry.

"And doesn't msm8994 use LA.BF64? Not BR/HB?" That's why I said I though BR/HB are the problem. msm8994 uses LA.BF64 and I didn't expect this problem to happen.

what you can try on all your devices with this problem is changing  the LK loading addr to the same as used by the stock bootloader(and rm -Rf out after doing so). Many devices don'

[2017-03-09 04:50] M1cha commented on #82
I've merged these changes. Still no idea about ur "compiles too fast" thing.

[2017-03-09 04:51] M1cha commented on #89
do what I suggested in the 6p issue:

"what you can try on all your devices with this problem is changing the LK loading addr to the same as used by the stock bootloader(and rm -Rf out after doing so). Many devices don't like booting LK from the initial linux loading addr."

[2017-03-09 04:52] npjohnson commented on #82
It isn't really important that is builds fast as it seems in the end. Seems like the fact that it boots on the Note 4 (also apq8084) proves that theory about why it wouldn't work wrong.

[2017-03-09 06:36] Glove007 commented on #89
How exactly can we do that?

[2017-03-09 07:17] M1cha commented on #89
dump the 'aboot' partition and run binwalk on the resulting file

[2017-03-10 07:27] Matttter opened #90 "Make it boot automatically to the currently selected option after some delay"
My power button is broken, and thus I can't use this (I had to open up my phone to connect the two poles of the button with a wire). Would it be possible to implement a sort of countdown, like multirom does? Thanks in advance.

[2017-03-10 07:36] M1cha commented on #90
see #57

[2017-03-10 07:36] #90 closed

[2017-03-10 07:38] M1cha commented on #57
@Mattttler what would the default system be? atm the selected option is always the first one.

[2017-03-10 07:40] z3ntu commented on #57
* @Matttter

[2017-03-10 14:06] rrgreatvijay5 commented on #87
Ok so a new issue
lk is booting fine now..
but when i try to boot uefi then this shows up..
Attached a screenshot for that.
Any fix? @M1cha
![img_20170310_191913_hdr](https://cloud.githubusercontent.com/assets/13448335/23798040/c1ffc24c-05c8-11e7-8852-6cdb864b1151.jpg)

[2017-03-10 19:42] GabrielTK commented on #81
Ended up doing nothing. Going to try again later. Can anyone point any directions??

[2017-03-10 21:40] Matttter commented on #57
Well I don't know, for me booting into the last booted system would make the most sense, or even just making it boot after the cursor hasn't moved after like 10 seconds would be awesome... I mean it's just unusable in its current state for me, so anything to make it be less dependent on the power button would be amazing. I'm trying to hold on to the bacon for some more months :)

[2017-03-11 08:47] Glove007 commented on #89
Where can I change the LK loading addr? In config.ini under LK_BASE or BOOTIMG_BASE? And should I use the kernel addr or the ramdisk addr?

Thanks for your help!

[2017-03-11 08:59] M1cha commented on #89
LK_BASE. kernel/ramdisk address? sounds like you're looking in the wrong place because these have nothing to do with this.

Maybe u dumped the boot partition by accident? 'aboot' is not a typo.

[2017-03-11 09:21] Glove007 commented on #89
What is it then?
Sorry that I don't understand so much…

[2017-03-11 09:22] Glove007 commented on #89
I dumped /dev/block/bootdevice/by-name/aboot

[2017-03-11 09:24] M1cha commented on #89
that's correct but there are no kernel or ramdisk addresses. if you're unusre, just upload the binary and I'll take a look.

[2017-03-11 12:38] Glove007 commented on #89
Here is it: [https://drive.google.com/open?id=0B1kUxbPpOiT9TE9NVlE4WU1CTm8](https://drive.google.com/open?id=0B1kUxbPpOiT9TE9NVlE4WU1CTm8)

Thank you!

[2017-03-11 12:46] M1cha commented on #89
@Glove007 0x91800000

[2017-03-11 18:48] M1cha commented on #89
I've added LeEco Le Max 2 (msm8996) to the list. changing the loading addr didn't help and the device force reboots which usually is a sign of the hypervisor forcing a reboot.

[2017-03-11 23:44] twoeye commented on #89
ZTE/Axon 7 (msm8996)

With adjusted LK_BASE from aboot: fastboot lk reboots phone.
Without adjusted base: fastboot lk turns off phone.

[2017-03-12 05:02] iamsubhranil commented on #58
You can delete both the system.mount files from rootfs and add the mount in init. For MultiROM just deleting the files does the work as mr automatically mounts the partitions for it. I guess the same could be done for any other partitions on the way.

[2017-03-12 05:39] M1cha commented on #58
modifying the rootfs would be a permanent modification - that'S why we don't do that.

[2017-03-12 05:42] M1cha commented on #89
ok two more ideas/information requests:
- does lk_origdtb.img work on these devices?
- do these devices use dt.img or appended fdt?

[2017-03-12 05:54] npjohnson commented on #89
@M1cha

- No, lk_origdtb makes no difference, still hangs at the aboot splash screen of most the respective devices.
- According to EFI Droid, they use appended FDT, but I might have had an idea that may be the root of this whole issue... I am almost certain the Nexus 6P, Pixel XL, and HTC One M9 all use DT (and not FDT). Is there a simple way to check this? I was wondering if maybe some mis-handl

[2017-03-12 05:58] M1cha commented on #89
@npjohnson if unpackbootimg aid there is an fdt, then that should be true. Otherwise the dtb patching would fail due to invalid contents.
Also Nexus devices used appended fdt's long before qcom so I'm pretty sure the 6p does too.
You can double-check if EFIDroid is right but looking at your ROM's BoardConfig.mk but if BOOTIMG_FDT is defined in EFIDroid and there's an valid fdt in the device direct

[2017-03-12 06:13] npjohnson commented on #89
@M1cha That FDT define (nor any other FDT define) is made anywhere in these devices device trees (in AOSP). The output image type is however, defined as zImage-dtb, does that give you any clues? How do I tell if the EFI Droid unpacked FDT images are valid?

[2017-03-12 06:23] M1cha commented on #89
@npjohnson the define I've mentioned is an EFIDroid define, not an Android one.
https://github.com/LineageOS/android_device_huawei_angler/blob/cm-14.1/BoardConfig.mk#L35
Image.gz-dtb is means: 'cat Image.gz dtb1.dtb dtb2.dtb ...' with Image.gz being a NON-self decompressable Image.
the 32bit equivalent of this is zImage-dtb which mean 'cat zImage dtb1.dtb dtb2.dtb ...' with zImage being a self-dec

[2017-03-12 06:27] npjohnson commented on #89
@M1cha Ah. I see your point.

A way I could test this quickly is to build a 32 bit kernel off the devices kernel source and see if I could boot it right?

[2017-03-12 06:30] M1cha commented on #89
@npjohnson if that's supported yes, I dunno if you can easily build one or if it requires some more porting efforts.

[2017-03-12 06:32] npjohnson commented on #89
@M1cha I know offhand that none of Angler's firmware's are 64-bit, and it /shouldn't/ be too much effort. I'll see what I can do tomorrow.

[2017-03-12 10:25] z3ntu commented on #58
I actually still think it's better than not supporting Sailfish (or other systems). Could be a popup asking if permanent modifications should be done...?

[2017-03-12 11:00] M1cha commented on #58
I'm sure there is a way to do this without permanent modifications - I just didn't invest much time into this yet as we still have more important problems to fix.

[2017-03-12 13:16] PeregrineZ opened #91 ""FAILED (remote: dtb not found)" for OnePlus 3"

[2017-03-12 13:25] M1cha commented on #91
you can neither build as arm64 nor does lk support this - it's normal to run in 32bit mode.
you have an MSM8996 which we couldn't get to boot yet for some reason. see: #89

[2017-03-12 13:26] PeregrineZ commented on #91
Alright, I'll watch that thread,

Thanks for the quick response!

[2017-03-12 13:28] M1cha commented on #89
@npjohnson I've started editing the OP to add info about what happens after booting lk(reboot/shutdown/stuck). can you do that for your devices too?

[2017-03-12 16:42] npjohnson commented on #89
@M1cha done

[2017-03-12 17:02] M1cha commented on #89
@npjohnson thx. did you ever check if they device is really stuck or if it enters qcom download mode?

[2017-03-12 17:03] npjohnson commented on #89
@M1cha Stuck, no USB interface.

[2017-03-12 18:08] M1cha commented on #89
@npjohnson can you extend the list with FDT/DT information like I did with ZUK Z2?
If all of them use FDT then we have our reason. my xiaomi mi2 has an msm8992 and works, but uses a DT.

[2017-03-12 18:10] npjohnson commented on #89
@M1cha They're all FDT :)

Think we found the problem then.

[2017-03-12 21:58] drsn0w commented on #89
Stuck at Google splash screen on Nexus 5X (bullhead)

[2017-03-12 22:02] npjohnson commented on #89
@drsn0w added to the list

[2017-03-13 10:03] M1cha commented on #89
try to do this (after compiling):
[code]

then, repack lk.img with out/Image.gz-dtb as the kernel. Since the build system prints the mkbootimg command at the end you just have to copy and edit it.
Pleas not that even if this works it's not a permanent solution for many devices because fdt and/or gzip-compressed kernel were not supported on the bootloader which the device was shipped with.

[2017-03-13 10:08] oshmoun commented on #89
Xperia X Compact (kugo) also seems to have the same issue.
i.e, booting lk.img or lk_origdtb.img results in a stuck device with no usb connection

[2017-03-13 16:24] iamsubhranil commented on #58
I can't see how it could be done without permanent modifications. systemd will mount the actual system as long as system.mount files stayed.

[2017-03-13 16:36] M1cha opened #92 "random crashes in UEFI for LA.BR"
Apparently, LA.BR produced random crashes for UEFI.

- xiaomi/ferrari (MSM8939)
- xiaomi/kenzo (MSM8956)

[2017-03-13 21:07] drsn0w commented on #89
@M1cha I tried your suggested fix on Nexus 5X (bullhead)
I was able to boot into the first LK step, and run `finalize_device`. Currently doing more testing, will update.

[2017-03-13 21:32] npjohnson commented on #89
@M1cha using that repack method on the Nexus 6P results in being able to boot LK!!! I was able to finalize_device and all.

It still visually hangs at the Google logo, but now we have fastboot access behind it!

I figured I'd try 2NDSTAGE_DTB, and that resulted in the display briefly firing on, and then running a ton of text in front of tux then rebooting. I'll move that to the 6P issue though. Lo

[2017-03-13 21:34] npjohnson commented on #83
By using @M1cha's manual FDT appendage method, we are able to boot LK!

It still visually hangs at the Google logo, but now we have fastboot access behind it!

I figured I'd try 2NDSTAGE_DTB, and that resulted in the display briefly firing on, and then running a ton of text in front of tux then rebooting. Not sure how to debug such a quick reboot.

[2017-03-13 21:34] drsn0w commented on #89
@npjohnson take a look in #porting on Slack, we're working through some display issues on the 5X, might be similar for 6P

[2017-03-13 21:38] M1cha commented on #83
in 90% of all cases people need DEFINES += WITH_2NDSTAGE_DISPLAY_DMA_TRIGGER and not 2NDSTAGE_DTB. 2NDSTAGE_DTB just auto detects if u have a cmd-panel with vsync requirements and enables that functionality automatically.

So, if you got a cmd panel, go back to the normal driver and use the trigger flag.

[2017-03-13 21:44] npjohnson commented on #83
@M1cha That did it!

[2017-03-13 21:52] drsn0w commented on #89
5X LK boots with working display, but when I did the same to the UEFI kernel it simply reboots into system

[2017-03-13 21:55] drsn0w opened #93 "Nexus 5X Support"
ARCH: MSM8992 (use MSM8994 for build)
OEM: LG
Branch used to build: LA.BF64

Able to boot into LK using the method presented by @M1cha in issue #89, with display issues fixed by setting mdelay to 32 in the DMA display trigger. UEFI image reboots into system even when repacked as presented by @M1cha

[2017-03-13 22:35] npjohnson commented on #86
My XL is locked right now, but I will attempt M1cha's manually appended FDT method when I next decide to unlock the device.

[2017-03-13 22:44] npjohnson commented on #85
To update on this device's port, it boots to UEFI, but just as the Note 3 and 4 did after installing the OTA package using a local OTA server, then dd'ing out, LOKI'ing the images, and re'dd'ing in boot & recovery, the EFI Droid app displays "EFI Droid has ESP backup of boot and recovery, but not installed" (or something along those lines).

I think EFI Droid has some issue on Samsung devices. I'l

[2017-03-13 22:47] npjohnson commented on #84
No progress on this port. I'm stuck.

[2017-03-13 22:59] npjohnson commented on #82
Now that we have merged apq8084 support, and it works (as per the Note 4 port's example), I tried building with these changes, and we still hang at the Google logo (weirdly with no unlocked padlock).

I tried adding both M1cha's recommended display define, and the 2NDSTAGE_DTB define, but neither change the outcome.

I also tried the new commits plus M1cha's manual FDT appendage method which prove

[2017-03-13 23:09] npjohnson commented on #77
@M1cha This is becoming more and more important as more device porters pop up. This method is used by more than 20 devices across many OEM's. https://github.com/efidroid/projectmanagement/issues/85

[2017-03-14 01:35] titanlts commented on #89
Same bug causing device to boot to the system instead of staying in lk.img . Looking for a resolve soon

Trying to port to Moto G 2014 (msm8226)

[2017-03-14 01:52] npjohnson commented on #89
@titanlts That'd be incorrect. 8226 is not 64 bit. Plus, the Moto G 2014 already has a fully functional port (only thea officially, but just switching the name gets titan to work, and merlin requires a few tiny edits).

[2017-03-14 01:54] npjohnson opened #94 "Samsung Devices Don't Show EFI Droid as Installed."
The EFI Droid app installs the otapackage from the local OTA server, but shows that EFI Droid is not installed, saying something along the lines of "ESP has backup of boot and recovery but EFI Droid is not installed". This happens on both the S4, and the Note 3/4.

Not sure how to debug this one... it may be why the S4 is unable to boot the images EFI Droid places in the ESP folder.

[2017-03-14 01:56] titanlts commented on #89
Yes ! I already know that titan is a arm not arm64 . But guys on XDA , told
me to just drop the info about my device if it had something related to
this issue .Thanks for that info ! I will look into that and change it ;)

On 14-Mar-2017 7:22 AM, "Nolen Johnson" <notifications@github.com> wrote:

[2017-03-14 02:53] titanlts commented on #89
@npjohnson Can you help guiding me to the lk.img and uefi_boot.img of thea . So that i can modify it to make it work on titan

[2017-03-14 03:44] npjohnson commented on #89
@titanlts

It's a tad more complicated.

Send me your boot.img and I'll remake the device tree and submit for official support through @M1cha.

[2017-03-14 03:50] drsn0w commented on #93
Screen corruption fix: https://github.com/drsn0w/bootloader_lk/commit/f7d9a32fb1b089c916688fcc2c48a658cca9aed3

I'm not sure how I would go about submitting this change to the official efidroid repositories as I'm 99% sure this is a Nexus 5X specific thing... If anyone can provide me with some guidance that would be greatly appreciated.

[2017-03-14 04:22] M1cha commented on #94
this has been fixed with:
https://github.com/efidroid/android_app_efidroidmanager/commit/70b5b38492627b88a55b75c3959eb9daa3853680

I didn't update the playstore app yet, sry

[2017-03-14 04:22] #94 closed

[2017-03-14 10:34] titanlts commented on #89
@npjohnson No need :) . I managed to build it successfully . It's working now

[2017-03-14 10:50] titanlts commented on #89
Except for the uefi_boot.img . it is freezed in the Splashscreen

[2017-03-14 16:24] shirokatze commented on #84
Huh, funny. Mine doesn't boot the uefi img at all. It hangs before rebooting to system.
Like yours, LK works just fine

[2017-03-14 17:33] shirokatze opened #95 "Build fails on Arch Linux error: "yywrap" redefined [-Werror]"
The output was shortened a little bit.
Followed the steps [getting started](https://github.com/efidroid/projectmanagement/wiki/[EFIDroid]-Getting-Started) . Tried porting to a new device as well as compiling for existing device. Both had the same error.

[2017-03-14 17:57] z3ntu commented on #95
Install flex 2.6.1 or compile the newest version from git master. There's also the possibility that you put the binary of either flex 2.6.1 or the newest git master version into `build/tools/`.

[2017-03-14 18:05] shirokatze commented on #95
currently on version 2.6.3. No flex binaries inside build/tools/

[2017-03-14 18:28] #95 closed

[2017-03-14 18:55] z3ntu commented on #95
`rm -rf out` is always good when stuff changes :)

[2017-03-14 20:45] gabixdev commented on #80
broken image is built from https://github.com/Slim80/Imperium_Kernel_TW_4.4.2_new and it's for use with stock roms.

[2017-03-14 20:46] alula opened #96 "Galaxy S4 (i9505) Support"
ARCH: APQ8064T
OEM: Samsung
Branch used to build: LA.BF64

Everything seems to work fine (buttons, display etc.)
The only issue is (stock) rom kernel booting: #80

Needs also to be tested with 4.2.2 non/knox bootloader, but it will probably work...

https://github.com/alula/device/tree/samsung/jflte

[2017-03-14 21:57] twoeye commented on #89
ZTE Axon 7

lk_origdtb.img: Reboots device
Image.gz-dtb/repacked lk.img: Reboots device

I'm fairly confident in my results, however this is at a technical level which is a bit unfamiliar.

[2017-03-15 05:03] npjohnson commented on #96
@gabixdev I can confirm it works on non-KNOX Bootloaders, as jfltevzw actually requires Pre-KNOX Bootloaders to run custom boot images, haha.

[2017-03-15 05:04] npjohnson commented on #89
@titanlts Offer still stands. Email your boot image to the email on my GitHub profile and I'll submit for official support, as I had finished it, but just forgot to submit, super easy to recreate though.

[2017-03-15 09:49] GabrielTK commented on #86
Wait... Sorry, my XL is locked too. What do you mean with M1cha's manually appended FDT method??

On Mar 13, 2017 7:35 PM, "Nolen Johnson" <notifications@github.com<mailto:notifications@github.com>> wrote:

My XL is locked right now, but I will attempt M1cha's manually appended FDT method when I next decide to unlock the device.

—
You are receiving this because you commented.
Reply to this email

[2017-03-15 09:52] M1cha commented on #86
@GabrielTK https://github.com/efidroid/projectmanagement/issues/89#issuecomment-286063675

[2017-03-15 09:55] GabrielTK commented on #86
Oh, ok. I thought it was another way to unlock Pixel Devices.

Also, I know this might me a bit off topic, but, do you know any app like BootUnlocker that works in Pixel (for locking the bootloader with root)?

On Mar 15, 2017 6:52 AM, "Michael Zimmermann" <notifications@github.com<mailto:notifications@github.com>> wrote:

@GabrielTK<https://github.com/GabrielTK> #89 (comment)<https://github.com/e

[2017-03-15 14:08] gabixdev commented on #80
Stripping 32 bytes from kernel image works, boots properly, but bootloader should ignore it...

[2017-03-15 14:09] M1cha commented on #80
I'd still like to know what they mean. I was unable to compile that kernel myself because of these weird build scripts.

[2017-03-18 17:52] abraha2d commented on #57
Ok, as of now, there's a setting to make it auto select the last booted entry...
Still working on the timeout.

[2017-03-18 20:17] Matttter commented on #57
Awesome! Thanks for your work :)

[2017-03-18 21:23] npjohnson commented on #77
RE: - add loki support to efidroid's boot.img loader so the patch can be reverted when trying to boot a loki image using efidroid

This doesn't look necessary anymore, as EFI Droid is capable of booting LOKI'd images now.

[2017-03-19 02:32] npjohnson commented on #84
No progress this week.

[2017-03-19 02:32] npjohnson commented on #83
No progress this week.

[2017-03-19 02:33] npjohnson commented on #82
No progress this week, still weird rebooting issue.

[2017-03-19 02:33] npjohnson commented on #86
No progress this week.

[2017-03-19 03:37] npjohnson commented on #85
Okay, this port has some oddities.

With Lineage OS as the Internal, and by manually placing twrp and boot (un-LOKI'd) in UEFIESP we are able to boot the OS! But the same can't be said for TWRP, which only boots with no ramdisk patching :/

[2017-03-19 06:29] M1cha commented on #85
if UEFI shows "last boot failed" errors pleas post the exact error messages. If your kernel/devices supports it you can also dump a lastkmsg/ramoops.
But you probably want to run this before booting:
fastboot oem setnvvar multiboot-debuglevel 0

[2017-03-19 06:31] M1cha commented on #77
@npjohnson these images may be able to boot but I guess that it heavily modifies bootloader memory. thi can lead to a lot of random problems.

[2017-03-19 19:57] feherneoh commented on #93
My suggestion would be making that delay use a configurable DEFINE we can set from the device config, defaulting to the original value if not explicitly set

[2017-03-19 20:06] feherneoh commented on #58
I can't see why everybody ignores my ideas...
bindmount works on files too, not only on folders, so if efidroid can inject a script or anything into the bootchain then right after mounting the partition set in the ramdisk (that we can obviously override before mounting it) we can bindmount modified files over the files containing the original partition paths.
For bind-mounted partitions, we can bi

[2017-03-19 20:09] M1cha commented on #58
@feherneoh nobody is ignoring you, I just didn't look into sailfish support at all yet.
Also, can you post a simple example/instructions for file-based bind mounts? I can't find any info about it and trying myself gives me 'Not a directory' errors.

[2017-03-19 20:14] M1cha commented on #58
@feherneoh got it. I have to create an (empty) file first. works fine.

[2017-03-19 20:23] feherneoh commented on #58
Glad it works, no idea where I saw it, but it was used to fake the kernel cmdline by mounting a file over /proc/cmdline

[2017-03-19 20:31] drsn0w commented on #93
I spoke to @M1cha and i think he is going to implement that

On Sun, Mar 19, 2017, 12:57 PM Fehér Roland Ádám <notifications@github.com>
wrote:

[2017-03-19 21:21] z3ntu commented on #58
So that means we can have SailfishOS support without persistent patching? 😊

[2017-03-21 03:16] npjohnson commented on #85
We're able to boot the OS, but upon booting TWRP with ramdisk patching, we get a reboot and an error of "Last boot failed: init returned."

[2017-03-21 17:16] sub77 commented on #85
same problem on samsung t530, booting official twrp 3.1.0-0 from twrp.me is working fine, other ones: last boot failed: init returned.

[2017-03-22 03:50] RedL0tus commented on #93
After I use the fix by @drsn0w and compiled the image. I found that after I run `fastboot boot uefi_boot.img` , my N5X will directly reboot. But LK can boot correctly... So... how can I (we) fix it?

P.S. here is my config.ini:
[code]

[2017-03-22 18:36] lukss12 opened #97 "Nexus 5 Support"
I was able to build NOUEFI LK for hammerhead but when trying to boot it with "fastboot boot lk.img" got stuck at Google logo and there is no fastboot device detected trhough USB. Any help will be preciated,

My device config:
**config.ini**
[code]
**lk_inc.mk**
[code]
fdt.img extracted from last google official build

[2017-03-22 19:06] Myself5 opened #98 "Xperia Z5 refusing to fastboot boot from lk/UEFI"
UEFI and lk work on the Z5, including UI and fastboot flashing. However, fastboot boot is broken.

[2017-03-22 19:33] z3ntu commented on #98
Do you mean `fastboot boot` from the UEFI fastboot?

[2017-03-22 19:48] Myself5 commented on #98
Both, `fastboot boot` from lk and uefi is broken. I am able to fastboot flash to the physical partitions using fastboot flash though.

[2017-03-22 21:59] npjohnson commented on #97
This is an FDT device. Try to repack the image using the guide here: https://github.com/efidroid/projectmanagement/issues/89

[2017-03-22 22:11] lukss12 commented on #97
you mean this?

"try to do this (after compiling):

cat out/device/?/?/lk_kernel/build-?/lk.bin | gzip -n -f -9 > out/lk.bin.gz
cat out/lk.bin.gz device/?/?/fdt.img > out/Image.gz-dtb

then, repack lk.img with out/Image.gz-dtb as the kernel. Since the build system prints the mkbootimg command at the end you just have to copy and edit it.
Pleas not that even if this works it's not a permanent solut

[2017-03-22 22:13] npjohnson commented on #97
Yes.

[2017-03-22 22:26] lukss12 commented on #97
Just did it, it didn't work, adb fastboot boot command stucks
My steps to get new lk.img

[code]
fastboot boot lk-fdt-workaround.img
downloading 'boot.img'...
OKAY [  0.171s]
booting... (IT HANGS HERE AFTER I POWER OFF)
FAILED (status read failed (No such device))
finished. total time: 145.897s

[2017-03-23 20:26] M1cha opened #99 "add support for configuring the internal ROM"
- cmdline/replacements/...
- name
- description
- icon

[2017-03-23 20:31] M1cha opened #100 "add support for sharing data between apps"

[2017-03-26 05:57] lukss12 commented on #97
This Configuration is able to boot LK and UEFI with display working
**config.ini**
[code]
**lk_inc.mk**
[code]

[2017-03-26 05:57] #97 closed

[2017-03-26 05:58] lukss12 opened #101 "Nexus 5 UEFI not recognize Volume Up/Down buttons"
Power off is recognized

[2017-03-26 06:26] M1cha commented on #101
you have to implement your own target_volume_up and target_volume_down functions.
look at your dtb to find out how the hardware works(usually gpio's or pmic) and adapt it to LK's drivers.

[2017-03-26 07:57] lukss12 commented on #101
Thanks, implemented

[2017-03-26 07:57] #101 closed

[2017-03-27 02:38] npjohnson commented on #83
I tired a ton of things to get UEFI to boot on the device, but no dice. :/

[2017-03-28 13:55] Shr3ps commented on #87
Same state here:

![img_20170328_155135300_hdr](https://cloud.githubusercontent.com/assets/1845672/24408799/f429de6a-13ce-11e7-9b56-3c0d22207252.jpg)

[2017-03-28 14:48] sub77 commented on #93
try to add following line to your config.ini

BOOTIMG_FDT_PARSER = qcom_lge

[2017-03-28 14:52] drsn0w commented on #93
I have some unfortunate news. My 5X became a victim of the widespread
bootloop issue last week, and it's no longer under warranty, so I won't be
able to continue testing any porting efforts. I can continue working on it,
but I'll need other testers.

On Tue, Mar 28, 2017, 7:49 AM Florian Molitorisz <notifications@github.com>
wrote:

[2017-03-28 14:58] RedL0tus commented on #93
I've already tried it.

On Tue, Mar 28, 2017 at 7:49 AM Florian Molitorisz <notifications@github.com>
wrote:

[2017-03-28 15:40] RedL0tus commented on #93
I bought a audio cable and it will arrive today.

I'm gonna make a debug cable and check what happend while booting UEFI.

[2017-03-30 15:20] creeperlwd opened #102 "Moto X Style (Pure) Support"
ARCH: MSM8992 (use MSM8994 for build)
OEM: Motorola
Branch used to build: LA.BF64

lk.img boots with display (DEFINES += WITH_2NDSTAGE_DISPLAY_DMA_TRIGGER in lk_inc.mk) uefi_boot.img boots into system.

[2017-03-30 17:13] M1cha commented on #102
bootloader/lk/common/shared/uefiapi/target/msm8994.c:
add the following lines at the end of uefiapi_mmap_add_platform_mappings(before the return):
[code]

[2017-03-30 17:24] creeperlwd commented on #102
It works :+1:

[2017-03-30 17:29] M1cha commented on #102
what's your screen resolution?
if it's big this might help:
config.ini: LCD_VRAM_SIZE = 0x1000000

[2017-03-30 17:29] creeperlwd commented on #102
1440x2560

[2017-03-30 17:30] M1cha commented on #102
yea 1440*2560*3 = 11059200 which ix bigger than 8MB, so the config.ini change should fix that

[2017-03-30 18:25] creeperlwd commented on #102
I made an ota package but it can't install from the app, says failed to get ESP partition (at 50%)

[2017-03-30 20:47] creeperlwd commented on #102
appearantly the arch is wrong but setting it to arm64 does not work...

[2017-03-31 04:56] M1cha commented on #102
the buildsystem is not wrong, you were using the wrong flag, use DEVICE_ARCHITECTURES = arm arm64

did you try both with and without DEVICE_PREFER_ATAGS_HWID ?
if so, post an oem lk_log.

[2017-03-31 07:43] creeperlwd commented on #102
i tried both with and without DEVICE_PREFER_ATAGS_HWID and both do not boot twrp from uefi fastboot
lk_log: https://gist.github.com/creeperlwd/092d5650a058470367843085b265266f

[2017-03-31 17:05] andr68rus commented on #89
Hello! Any progress with msm8996?

[2017-03-31 17:08] creeperlwd commented on #102
update: i fastboot flashed it and now it is booting twrp and internal fine

[2017-03-31 17:37] M1cha commented on #89
msm8996 has another GIC(v3) maybe that's the problem?

[2017-03-31 20:55] xakep666 opened #103 "Can't allocate ramdisk|kernel boot memory..."
I nstalled twrp 3.1.0-k1 to my oneplus one with efidroid (latest ota).

When I try to boot it I getting error message "Can't allocate ramdisk boot memory at 20000 size <rd size >".
At second boot attempt I getting same message but for "kernel boot memory at 8000 size <kernel size>".
Also after it I can't boot anything with same error message. But after reboot all roms boot correctly. Recovery imag

[2017-04-01 04:04] M1cha commented on #103
afaik I've looked at it already and the only difference was the ramdisk size. maybe it exceeds the available RAM(it gets uncompressed in RAM).

That you can't boot other things after such an error is known, but unrelated to this bug and should be tracked in a separate issue.

[2017-04-02 03:50] opssemnik opened #104 "Nexus 4 Support"
ARCH: APQ8064 (msm8960 branch)
BRANCH: LA.BF64
OEM: lg
config.ini
`[variables]
DEVICE_NAME = Nexus 4
LK_TARGET = msm8960
LK_BASE = 0x0000000088f00000
LK_SOURCE = qcom/LA.BF64
BOOTIMG_BASE = 0x80200000
BOOTIMG_PAGESIZE = 2048
BOOTIMG_ADDITIONAL_ARGS = --ramdisk_offset 0x01600000
BOOTIMG_CMDLINE := console=ttyHSL0,115200,n8 androidboot.hardware=mako lpj=67677 user_debug=31
LCD_DENSITY = 320
LCD_VRAM

[2017-04-02 04:15] thejumono commented on #93
I've set up a build environment for EFIDroid and got LK to boot as well, I'd be interrested into helping and testing if needed. I also get the instant-reboot bug when trying to boot the uefi_boot.img.

[2017-04-02 04:19] drsn0w commented on #93
I appreciate your willingness to test. I'll take a look at it tomorrow and
if i find something I'll let you know.

On Sat, Apr 1, 2017, 9:15 PM Zoey <notifications@github.com> wrote:

[2017-04-02 05:57] RedL0tus commented on #93
Update: I bought a wrong one (It's just a plug without wire, and I have no idea how to solder it... )... And I bought another one, it will arrive soon.

[2017-04-02 06:05] #104 closed

[2017-04-02 06:07] M1cha commented on #104
LK_BASE was the problem (it probably conflicted with the framebuffer address)

[2017-04-03 07:22] chengyuhui opened #105 "Moto X 2014 support"
LK builds fine, but the device is not recognized on the computer when booting lk.img

conifg.ini
[code]
lk_inc.mk
[code]

[2017-04-03 09:30] creeperlwd commented on #102
Another update: on 64-bit devices TWRP does not work out of the box in multiboot roms. I am working on compiling a version of twrp for my own use

[2017-04-03 16:59] LNJ2 opened #106 "Xperia Z (yuga) doens't boot lk.img"
I followed the guide on https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Porting-a-new-device
I had no problems compiling it, I also have found the right chipset (msm8960 / APQ8064). But when I try to use `fastboot boot out/device/sony/yuga/lk.img` it doesn't do anything, the led is still blue (as in fastboot mod), but the device is not recognized by `fastboot devices`.
What shoul

[2017-04-03 18:55] M1cha commented on #106
@feherneoh

[2017-04-04 06:38] opendata26 commented on #106
Can you try extracting the boot.img from this and running create_device on it, if it has the same problem as the z2 it should work.
https://1drv.ms/f/s!AkCQC7wqKOrtsDC3RB7fzd_KAerl

[2017-04-04 07:11] opendata26 opened #107 "Xperia Z2 / Z2 Tablet support"
They are currently both able to boot efidroid but fail to boot android with a patched ramdisk.

Android gives file descriptor table errors and gets stuck on the boot animation.

[2017-04-04 14:53] LNJ2 commented on #106
I've recreated the device with the boot.img from the above lineageos build, but nothing has changed...
![image](https://cloud.githubusercontent.com/assets/13557034/24662172/a03fd828-1954-11e7-804a-4d400cdb4b28.png)
After fastboot boot the device isn't in fastboot mode anymore (but the led is still blue). Then I had to restart to get in fastboot mode again.

After a flash of the lk.img my device do

[2017-04-05 16:04] joe2k01 opened #108 "Samsung Galaxy S3 NEO Support"
Device is able to boot full working lk but doesn't boot uefi_boot nor uefi_recovery.

SOC: msm8226

Device config: https://github.com/joe2k01/device/tree/samsung/s3ve3g

[2017-04-05 18:51] joe2k01 commented on #108
Got uefi booting with https://github.com/efidroid/bootloader_lk/pull/19

[2017-04-06 10:17] FireNX70 opened #109 "Moto G not detected in app"
I've been searching through the repo and i've found that the Moto G (First Gen) seems to be ported, but the app said it didn't find a value and detected my phone as Motorola/falcon_umts.

Does the device not have a port or is it that the app hasn't been updated. If it's the latter, how do I install it without the app.

[2017-04-06 10:20] z3ntu commented on #109
Motoral falcon isn't yet supported officially that's why the app doesn't find it.

[2017-04-06 10:20] FireNX70 commented on #109
Ok, thanks.

On Apr 6, 2017 12:20, "Luca Weiss" <notifications@github.com> wrote:

[2017-04-06 16:32] #109 closed

[2017-04-06 19:53] Cesionaut commented on #106
I'm getting the same effect with an Xperia XZ (kagura). Possibly a bigger issue with Sony devices? When the device boots into LK, it disappears from `lsusb` completely until rebooted. Interesting, seeing as though the Xperia Z is 32-bit, whereas the XZ is 64-bit.

[2017-04-06 20:17] LNJ2 commented on #106
Good that I'm not the only one having this bug. But nobody has currently a solution for this, right?

[2017-04-07 04:37] M1cha commented on #106
@Cesionaut yes, sony devices are generally a problem - that's why none of that is supported yet. @feherneoh invested the most work into it.

He got pretty much everything working on one of his devices except for the lcd driver.

[2017-04-07 10:19] Cesionaut commented on #106
@M1cha: I'd agree that this is a different issue to #45, seeing as though basically _nothing_ works on a flashed device. Not sure if I'm doing something differently to @feherneoh though. In a couple of days, I could try my build process on an Xperia Z2 if it helps, and see if the problem is recreated.

[2017-04-07 12:15] LNJ2 commented on #106
I wouldn't have a real problem, if it would boot without lcd. That would be at least something.

[2017-04-08 10:30] feherneoh commented on #106
Disable 2NDstage driver and try booting again
As far as I remember that one makes the phone freeze

[2017-04-08 10:40] feherneoh commented on #105
Something is off with your config.
Your LK_TARGET is Snapdragon 800/801, but your LK_BASE and BOOTIMG_BASE seem to be for Snapdragon S4
Try LK_BASE=0x00008000 and BOOTIMG_BASE=0x00000000

[2017-04-08 11:11] M1cha commented on #105
@feherneoh he's using the initial config which uses the linux addr. but you're right, some devices don't like booting from there.

[2017-04-08 11:29] chengyuhui commented on #105
Still nothing.. Both with and without `DEFINES += WITH_2NDSTAGE_DISPLAY_DMA_TRIGGER`

[2017-04-08 19:10] LNJ2 commented on #106
Thanks, but how can I do this? [Sorry, if the question is already answered anywhere in the wiki]

[2017-04-08 20:38] Cesionaut commented on #106
The instructions are under the Display Driver section of the Porting a New Device page on the wiki.

Tried disabling 2NDSTAGE with my XZ, and it gave errors about not finding dt.img. This is likely because the device uses FDT, but I'm unsure of how to set it to work with this.

I tried using a Z2, but it's rebooting into system whenever I try to enter LK though flashing to recovery. That's likely

[2017-04-11 07:38] feherneoh commented on #106
2NDstage shouldn't use DT, and as Xperia Z is APQ8064, it shouldn't have DT nor FDT
There is no point yet in flashing to recovery (actually FOTAKernel) on Z2, as LCD is not fixed yet for neither recovery or fastboot boot, so currently the only way to get LCD working is to flash to boot partition.
As neither recovery or fastboot booting have LCD yet, it's easier to just use fastboot boot for testin

[2017-04-11 07:42] feherneoh commented on #105
@micha I know, but still, the address is invalid.
SD800/801 uses 0x00000000 for bootimage, 0x00008000 for Linux.
0x80200000 and 0x80208000 are used by msm8960, msm8930, apq8064 and similar SoCs.

So it's not about using Linux or LK address, it's about using addresses of another SoC

[2017-04-11 07:44] feherneoh commented on #105
Additional info: this phone has 2GB of RAM, so those addresses are outside of the available range
0x80000000 > 0x00000000-0x7FFFFFFF

[2017-04-12 09:16] Matttter commented on #57
Is there any news on this? Because I'd love to use EFIdroid... but last time I tried I had to open the phone and connect the two ends of the power button with a wire just to select the OS I wanted xD

[2017-04-12 15:02] abraha2d commented on #57
@Mattler I haven't gotten much time to work on it recently... I've been having a boatload of tests and such... But I'm still working on it. I'll let you when it's done.

[2017-04-12 15:06] Matttter commented on #57
No problem, school comes first 😊

On April 12, 2017 5:02:39 PM GMT+02:00, Kevin Abraham <notifications@github.com> wrote:

[2017-04-12 16:36] M1cha commented on #57
@Matttter it wouldn't help you anyway because the won't be an option to change the default selection from outside UEFI.

[2017-04-12 17:15] abraha2d commented on #57
@M1cha but theres the auto-select last booted entry option... Basically, I'm trying to make it so that if the cursor hasn't moved, in 10 seconds, boot the currently selected entry...

When the cursor moves, it can either stop the timer, or it can reset the timer back to 10 seconds (which would be more helpful for @Matttter, but possibly kinda annoying for everyone else)

[2017-04-13 07:55] feherneoh commented on #57
@abraha2d 10 seconds shouldn't be THAT annoying, but actually even if I agree with these kind of "fixes", supporting broken hardware is... well, not something we must do

[2017-04-13 09:43] Matttter commented on #57
I don't understand, how would it be annoying? And wouldn't a timer be expected behavior anyways? I mean you wouldn't want it to stay in the efidroid menu forever, right?

On April 13, 2017 9:55:32 AM GMT+02:00, "Fehér Roland Ádám" <notifications@github.com> wrote:

[2017-04-13 13:03] abraha2d commented on #57
Well, if you're trying to do some debugging or something... (shrug)

[2017-04-14 18:35] hotti2017 opened #110 "Kindle Fire HDX 7 support"
SOC: msm8974

Device is unable to boot lk.img but! is able to boot  lk_origdtb.img.

Error message after boot with lk_orgidtb.img and run fastboot boot uefi_boot.img.

config.ini

[code]

[2017-04-14 19:17] M1cha commented on #110
try to add `BOOTIMG_DT_KEEP_NODES = 1` to you config.ini

[2017-04-15 12:34] chengyuhui commented on #105
After checking in kernel source
[code]

[2017-04-15 16:09] hotti2017 commented on #110
Unfortunately the same result.

fastboot -i 0x1949 boot ./device/android/thor/lk.img
on device screen:
download: 0010a000...Ok.
boot...Ok.

and with uefi_boot
fastboot -i 0x1949 boot ./device/android/thor/uefi_boot.img

on device screen:
download 003792a7... Ok.
boot...Ok.

But nothing happens. No response, no fastboot command is working until hard reset.

Only lk_orgidtb.img is working with messa

[2017-04-15 16:34] M1cha commented on #110
there's no point in doing that since you'd never be able to boot any rom's.
you should check why lk.img doesn't boot, because after enabling BOOTIMG_DT_KEEP_NODES they should be quite similar.

[2017-04-17 05:40] feherneoh commented on #105
That means I was right, and you are using invalid addresses. Did you create the config manually instead of using create_device?

[2017-04-17 16:29] hotti2017 commented on #110
Maybe a binwalk could help?

The only difference between lk.img (doesn't work) with BOOTIMG_DT_KEEP_NODES and lk_origdtb.img (work) are the address of DTB entry 2 and 3.

Do you think this can be the problem?

lk.img with BOOTIMG_DT_KEEP_NODES = 1

DECIMAL   |    HEXADECIMAL  |   DESCRIPTION
----------|-----------------|----------------------------------------------------
0         | 0x0     |

[2017-04-17 22:52] chengyuhui commented on #105
create_device.

[2017-04-19 09:21] feherneoh commented on #105
Fix the addresses manually, then do an "rm -rf out" and build again

[2017-04-22 11:13] chengyuhui commented on #105
Now I can boot into UEFI GUI but no ROM or recovery is shown (long press power button and select “Reboot to recovery" boots into the ROM)

[2017-04-22 11:22] M1cha commented on #105
that's normal, just continue following the porting guide

[2017-04-22 11:41] chengyuhui commented on #105
Now I have flashed the uefi_boot.img into my device.
But how can I continue with only "Fastboot" and "Reboot" options?

[2017-04-22 11:47] z3ntu commented on #105
Create a ota server to use with the app. See https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Porting-a-new-device#local-ota-server-for-using-efidroid-manager-with-a-new-device

[2017-04-22 12:08] chengyuhui commented on #105
![sc](https://cloud.githubusercontent.com/assets/1381736/25304308/7207a1d8-2797-11e7-8182-b70230e80eff.png)
Internal OS and TWRP is recognized, bot not booting.

[2017-04-22 12:16] chengyuhui commented on #105
And it gives me
[code]
when trying to compare FDT patches

[2017-04-22 12:25] chengyuhui commented on #105
[boot.zip](https://github.com/efidroid/projectmanagement/files/948963/boot.zip) contains the boot.img in case you need it.

[2017-04-22 12:31] M1cha commented on #105
for build/:

`diff --git a/tools/diffatags b/tools/diffatags
index 2a1dd99f7..b9f18696f 100755
--- a/tools/diffatags
+++ b/tools/diffatags
@@ -15,9 +15,9 @@
 # limitations under the License.

 DTSOUT="$1"
-DTBPATCHOUT="$TOP/out/target/$EFIDROID_DEVICEID/lk_kernel/dtbpatched_out"
+DTBPATCHOUT="$TOP/out/device/$EFIDROID_DEVICEID/lk_kernel/dtbpatched_out"
 if [ -f "$DTBPATCHOUT" ];then
-    DTBPATCHO

[2017-04-22 12:47] chengyuhui commented on #105
result;
[code]

[2017-04-22 12:50] chengyuhui commented on #105
I'm wondering if it's about LOKI (after looking in other issues)

[2017-04-22 13:06] M1cha commented on #105
your log is perfectly fine now. the warnings are normal.
and LOKI is not yet supported.

[2017-04-22 13:10] chengyuhui commented on #105
Any thoughts on the error message in screenshot?

[2017-04-23 15:43] hotti2017 commented on #110
I played a bit with the options BOOTIMG_DT_KEEP_NODES = 1, DISPLAY_2NDSTAGE, DISPLAY_2NDSTAGE_DTB and DEFINES += WITH_2NDSTAGE_DISPLAY_DMA_TRIGGER.

But no success with lk.img. Only with lk_orgidtb.img the Kindle HDX goes into the custom fastboot state.
There must be something in the orginal dtb that allows the Kindle go into this state.

After going in the custom fastboot state with the origdtb,

[2017-04-25 08:59] feherneoh commented on #110
Where do you put those lines? The most frequent reason of BOOTIMG_DT_KEEP_NODES = 1 not working is putting it in the wrong file.

[2017-04-26 05:57] chengyuhui commented on #105
After looking into device tree, I think there shouldn't be LOKI……

2017年4月22日 21:06，"Michael Zimmermann" <notifications@github.com>写道：

[2017-04-27 16:26] hotti2017 commented on #110
I put BOOTIMG_DT_KEEP_NODES = 1 in my config.ini
my config.ini

[variables]
DEVICE_NAME = Fire HDX 7
LK_TARGET = msm8974
LK_BASE = 0x00008000
LK_SOURCE = qcom/LA.BF64
BOOTIMG_BASE = 0x00000000
BOOTIMG_PAGESIZE = 2048
LCD_DENSITY = 320
BOOTIMG_DT = $(DEVICE_DIR)/dt.img
BOOTIMG_DT_KEEP_NODES = 1

Is it the wrong place? If I fastboot -i 0x1949 boot lk_origdtb.img my computer recognize a new usb devic

[2017-04-28 08:11] feherneoh commented on #110
This way it's correct, and that is exactly the expected behaviour.
18D1:D00D is LK's fastboot interface

[2017-04-28 10:56] balika011 opened #111 "Can't build in uow."
Building fails in Ubuntu on Windows.
[code]

[2017-04-28 11:21] feherneoh commented on #111
I can build for xiaomi/aries just fine on Creators Update
This target does not have DT, so dtc shouldn't even be built when compiling for it

[2017-04-28 12:10] #111 closed

[2017-05-04 15:22] chengyuhui commented on #105
Can someone help me to examine that boot.img?

2017年4月26日 13:57，"Harry Cheng" <chengyuhui1@gmail.com>写道：

[2017-05-05 18:44] abraha2d commented on #57
I have decided that working on this feature right now is not the best use of my time, as the EFIDroid rewrite is just around the corner... Once that's done, I'll resume working on this...

[2017-05-07 09:47] 0lvin opened #112 "LG G3s support"
SOC: MSM8926

Device can boot with lk.img but stuch on boot uefi.img

Config.ini:
[code]

[Full config](https://github.com/0lvin/efidroid_jag3gds)

Last messages on ![screenshot](https://cloud.githubusercontent.com/assets/73573/25779525/1a4b548e-3323-11e7-86af-a9dd0c03b471.png).

[2017-05-07 14:15] rishabhrao commented on #112
Facing the same issue.

SOC: msm8976 (msm8952 Based)

Lk works flawlessly. UEFI stuck at booting linux.

Config.ini:

[code]

Tried enabling debug things too, as suggested by @m1cha at the Slack Group. But even after a lot of help from him and a lot of tried by me, no results at getting it working...

I also have a Redmi Note 3 (kenzo) on msm8956 (msm8952 Based) and the exact same thing is happeni

[2017-05-14 01:21] llaurajane commented on #50
I found that copying gapps to my internal sd card in twrp, unmounting the external sd card, and physically removing the sd card fixed the reset on performing space calculations.

[2017-05-14 08:23] M1cha commented on #10
I just got GPIO interrupts working for the first time(and my touchscreen, too).
No I just have to design a API/Protocol that makes sense and can be seamlessly forwarded to LKL.
@feherneoh :)

[2017-05-17 20:19] S-trace opened #113 "JSR D10F porting - UEFI does not boot"
Hello.

I'm trying to port EFIDroid for JSR D10F phone, but fastboot boot out/device/jsr/d10f/uefi_boot.img just hangs up device.

It does not boot on "stock" (really, it is custom CAF-based LK) bootloader, and it does not boot on fastbooted lk.img built after finalize_device
Last log message is "Booting linux @ 0x8000, ramdisk @ 0x2000000 (0), tags/device tree @ 0x1e00000".
Fastboot booting usual

[2017-05-18 14:52] Nobiscum commented on #89
Does anybody knows which branch from codeaurora for LK is actual? I need to compile LK for OnePlus3

[2017-05-18 22:59] xakep666 commented on #103
Twrp 3.1.1 released for bacon. It also can't be started from efidroid by default (same error). But without ramdisk patching it starts normally

[2017-06-02 09:50] z3ntu commented on #70
Note: Ubuntu Touch is dead. Ubports will continue development and porting. But it will "soon" be based on Halium (https://halium.org/) which should make switching very easy. :)

[2017-06-10 21:52] umerov1999 opened #114 "ZTE Axon 7 Can't boot LK bootloader"
I compile lk bootloader for msm8996 and flash, but Phone load edl mode after start

[2017-06-11 05:09] M1cha commented on #114
EFIDroid's LK is a 2ndstage-bootloader, you can't flash it to the aboot partition.
Also, you have to use the EFIDroid build system and shouldn't compile LK directly.

[2017-06-11 10:14] 0lvin commented on #112
Phone booted with alligined mmap size.

Look to [MSM_IOMAP_END and MSM_IOMAP_BASE](https://github.com/efidroid/bootloader_lk/blob/qcom/LA.BF64/platform/msm8226/include/platform/iomap.h) (0xFEFFFFFF - 0xF9000000) == 0x5FFFFFF:
[code]

[code]

[2017-06-22 23:37] Adipatiarya commented on #89
how to dump adress base aboot

[2017-06-28 05:24] AnierinBliss opened #115 "Nextbit Robin Port"
So I started a little project to port Efi-Droid to my device and and upon booting into the nouefi lk.img my device wont show up in fast boot devices therefore cannot proceed to the next step of the porting process.

Soc of device= msm8992
Screen density=480
kernel used=lineage OS

 any help would be awesome because our community really needs something like this
![screenshot from 2017-06-28 01-08-3

[2017-06-28 06:10] M1cha commented on #115
first, using msm8994 is not a workaround because both msm8994 and msm8992 share the same base soc(cpu type, memory map, peripherals, ...).

AFAIK you have to use the correct LK_BASE for this soc. You can read it from a stock aboot dump.

[2017-06-28 06:43] AnierinBliss commented on #115
alright I seem to have gotten it to work but it hangs on finalizing device. i'm assuming its because I need to add -i 0x2c3f to my fast boot command in order for it to interact properly

[2017-06-28 06:53] M1cha commented on #115
It's weird that you have to do that because efidroid uses Googles USB vendor IDs instead of the one from the stock bootloader.

Either way you can just edit the script.

[2017-06-28 07:06] AnierinBliss commented on #115
I've edited the script for finalize_device already and found two places where fastboot was used and i still get a hang..

[2017-06-28 08:30] AnierinBliss commented on #115
![screenshot from 2017-06-28 04-28-35](https://user-images.githubusercontent.com/29746164/27627583-5465b032-5bba-11e7-9b62-27031fae4ee8.png)
 It's just hanging as I mentioned and I cant seem to get past it

[2017-06-28 09:04] M1cha commented on #115
Did you try to manually run fastboot commands?
Maybe LK doesn't boot properly.

[2017-06-28 09:45] AnierinBliss commented on #115
yeah manually running the command oem findbootimages works but i have no clue what to do with the output to be able to build uefi

[2017-06-28 12:55] M1cha commented on #115
There are more occurrences of fastboot. Just grep through the build dir. I think fastboot wrapper is being used too

[2017-06-28 15:20] AnierinBliss commented on #115
I also edited fast boot wrapper commands and tried to manually input them... Really at a wall here and im so close. if someone can upload edited scripts for me to use or explain more in depth..

heres an example of how i edited wrapper

elif len(argv)>=1 and argv[0]=='boot-unpatched':
        rc = fastboot(['oem', 'setnvvar', 'fastboot-i 0x2c3f-enable-boot-patch', '0'])
        if rc:

[2017-06-28 16:14] AnierinBliss commented on #115
new issue has come up when building uefi

build.py...
: error 7000: Failed to execute command
make tbuild [/home/robin/repo/out/target/arm/uefiapp_LKL/Build/EFIDroidUEFIApps/DEBUG_GCC5/ARM/EFIDroidUEFIApps/LKL/LKL]

build.py...
: error F002: Failed to build module
/home/robin/repo/out/target/arm/uefiapp_LKL/EFIDroidUEFIApps/LKL/LKL.inf [ARM, GCC5, DEBUG]

- Failed -
Build end time: 12:11:25, Jun.2

[2017-06-28 16:54] M1cha commented on #115
when you compile using multiple jobs, the end of the log is useless 99% of the time.
So you either have to post the full log or compile using -j1.

[2017-06-28 17:02] AnierinBliss commented on #115
Yeah I tried compiling using -j4 at first then -j2 so I will try -j1. Sorry for all the comments and asking for help I'm a little new to all this so I appreciate the help man

_Sent from my Nextbit Robin using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 17:04] M1cha commented on #115
thx for asking instead of just giving up :D

[2017-06-28 21:25] AnierinBliss commented on #115
it seems to be roughly the same error when compiling using -j1

In file included from /home/robin/repo/out/target/arm/uefiapp_LKL/EFIDroidUEFIApps/LKL/LKL.h:55:0,
from /home/robin/repo/out/target/arm/uefiapp_LKL/EFIDroidUEFIApps/LKL/ComponentName.c:22:
/home/robin/repo/out/target/arm/uefiapp_LKL/EFIDroidLKL/include/lkl_host.h:25:8: error: redefinition of 'struct iovec'
struct iovec {
^~~~~
In file

[2017-06-29 04:50] M1cha commented on #115
try to downgrade uefi/lkl to a063e1631db5e2b9b04f184c5e6d185c1cd645cb

[2017-06-29 21:21] AnierinBliss commented on #115
how would I do so?

[2017-06-30 04:30] M1cha commented on #115
uefi and lk do always run in 32bit compat mode.
`cd uefi/lkl`
`git checkout a063e1631db5e2b9b04f184c5e6d185c1cd645cb`

[2017-06-30 04:57] AnierinBliss commented on #115
I've gotten lk to boot and display seems to be working decent. finalize_device worked with running the envsetup.sh with sudo -s

[2017-06-30 18:52] AnierinBliss commented on #115
I managed to to port uefi but its not listing any installed os although it does for selecting fastboot os.
I can also reboot into twrp from holding power button down on reboot and selecting recovery
@AnierinBliss

[2017-06-30 18:55] M1cha commented on #115
that's totally normal because your ESP hasn't been set up yet.
just fastboot boot twrp from within uefi-fastboot, then go back to uefi and everything should appear.

[2017-06-30 19:07] AnierinBliss commented on #115
I got them to list but it's saying no DTB found for the board <251 8 0x10000>,
0x20009/0x2000a/0x0/0x0

[2017-06-30 19:43] AnierinBliss commented on #115
![img_20170630_154232_01](https://user-images.githubusercontent.com/29746164/27751549-dec8b836-5daa-11e7-90ca-a49586f16937.jpg)
![img_20170630_154238_01](https://user-images.githubusercontent.com/29746164/27751555-e28ba474-5daa-11e7-9db4-b326a90cb44b.jpg)

[2017-06-30 20:10] M1cha commented on #115
add this to device/X/Y/lk_inc.mk:
`DEVICE_PREFER_ATAGS_HWID := 1`

[2017-06-30 21:01] AnierinBliss commented on #115
Alright that did it! Now one last question before i Go through the checklist. How do i add roms to test and see if multiboot is working. Downloading the app from the play store gives an error upon launching about my device

[2017-06-30 21:34] z3ntu commented on #115
https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Porting-a-new-device#local-ota-server-for-using-efidroid-manager-with-a-new-device

[2017-06-30 22:23] AnierinBliss commented on #115
root@buildbox-ether:~/efi# start_local_otaserver PORT
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/lib/python2.7/SimpleHTTPServer.py", line 235, in <module>
    test()
  File "/usr/lib/python2.7/S

[2017-07-01 01:25] AnierinBliss commented on #115
I cant seem to get my device to inteact with the ota server correctly. When i open the app it hits me with the devices.json list and error saying it cant load device info and in my pc terminal i get hit wtih

 root@buildbox-ether:~/efi# start_local_otaserver 80
Serving HTTP on 0.0.0.0 port 80 ...
10.0.0.40 - - [30/Jun/2017 21:21:02] "GET /ota/master/devices.json HTTP/1.1" 200

[2017-07-01 02:31] AnierinBliss commented on #115
![screenshot_20170630-223018](https://user-images.githubusercontent.com/29746164/27758522-de4e83a2-5de3-11e7-9f4d-3cdb733daf3b.png)
![screenshot_20170630-223048](https://user-images.githubusercontent.com/29746164/27758523-def62c4c-5de3-11e7-8f69-1403cccf424e.png)

[2017-07-01 03:25] AnierinBliss commented on #115
I can't seem to get the ota server set up correctly.

keep getting hit with:
root@buildbox-ether:~/efi# start_local_otaserver 39804
Serving HTTP on 0.0.0.0 port 39804 ...
10.0.0.40 - - [30/Jun/2017 23:15:05] "GET /ota/master/devices.json HTTP/1.1" 200 -

@M1cha

[2017-07-01 05:19] M1cha commented on #115
@AnierinBliss Sry that I didn't mention that earlier, but keep in mind that I currently don't add any new official devices in favor of the big rewrite.

You can still use it with a local or unofficial OTA server though.

[2017-07-01 05:21] M1cha commented on #115
about your ota server issue:  it sounds like you forgot to add your device to devices.json

[2017-07-01 05:35] AnierinBliss commented on #115
@M1cha I already did and its the same device name that the app requested even before trying to port this. as well as the same vendor_device (nextbit_ether) which is the same way my directories are set up for the device in efi.. Have any ideas?
{
    "fairphone/fp2": "fairphone/fp2",

    "motorola/condor_umts": "motorola/condor",
    "motorola/condor_umtsds": "motorola/condor",
    "motorola/pereg

[2017-07-01 05:44] M1cha commented on #115
the last entry in a json array isn't allowed to have a trailing ','.

[2017-07-01 05:48] AnierinBliss commented on #115
So  remove the last comma and then re make otapackage?

[2017-07-01 05:51] M1cha commented on #115
yes but you don't need to recompile after editing ota server files.

[2017-07-01 05:56] AnierinBliss commented on #115
@M1cha
It's still just saying 10.0.0.40 - - [01/Jul/2017 01:52:49] "GET /ota/master/devices.json HTTP/1.1" 200 every time i open the manager app on my terminal and my device still list's devices.json. This is my info.json
[
  {
    "file": "http://10.0.0.217:80/builds/nextbit/ether/otapackage-20170701-nextbit_ether.zip",
    "timestamp": 0
  }
]

[2017-07-01 06:15] M1cha commented on #115
your info.json doesn't matter because if I understood you correctly, it never gets fetched by the app.
So your device id is probably different from what you think.

At this point it would make sense to compile the appy ourself in debug mode and set a break point if that's something you are experienced with.

[2017-07-01 06:49] AnierinBliss commented on #115
I honestly have no clue how I would do that man.. Oh well maybe I can try and figure out what the actually device ID it's calling for tomorrow.. before all this, and when downloading the efi manager app it said device not found for nextbit/ether so I don't understand how it wouldn't be right

[2017-07-01 06:59] M1cha commented on #115
you can assume that nextbit/ether is correct then.
Which means that there's something else failing. Unfortunately I have no idea what that could be.
Maybe a logcat would give us some ideas.

[2017-07-01 07:10] AnierinBliss commented on #115
@M1cha Logcat while trying to open the app or from lk/uefi

[2017-07-01 07:12] M1cha commented on #115
while working with the app. lk/uefi don't have logcat(or adb) :)

[2017-07-01 15:27] AnierinBliss commented on #115
{
    "nextbit/ether": "nextbit/ether"
}

fixing (}) this made the app say cant load device info index 1 size 1.. What does that mean?

[2017-07-01 15:33] feherneoh commented on #115
first index is 0, not 1, so there is no "index 1" if the size is 1

[2017-07-01 18:05] AnierinBliss commented on #115
so i got the app to load and what not but when i go to install it stops at 30 percent and says handshake failed

[2017-07-01 18:22] M1cha commented on #115
does the server log mention anything about this error?
"handshake failed" sounds like you accidentally used https instead of http somewhere.
The local server doesn't support any kind of encrypted connections.

[2017-07-01 18:36] AnierinBliss commented on #115
lol whoops that did it but now it cant find the esp partition

[2017-07-01 19:06] M1cha commented on #115
your fstab.multiboot file is probably wrong.

[2017-07-01 23:01] AnierinBliss commented on #115
How would I gather the necessary info to make it work correctly? sorry

[2017-07-02 05:17] M1cha commented on #115
@AnierinBliss that's the problem. the "default" one is just an example.
If the paths and partitions aren't correct it won't work-

[2017-07-02 05:20] AnierinBliss commented on #115
what can I do to figure out the correct ones?

[2017-07-02 05:24] M1cha commented on #115
well check if these paths exist on Android. If not, use the correct ones(e.g. from your ROM's fstab).
Important: don't copy the whole fstab of your rom, while the name is similar, they meanings are different.

[2017-07-02 05:24] M1cha commented on #115
https://github.com/efidroid/projectmanagement/wiki/%5BReference%5D-fstab.multiboot

[2017-07-02 05:38] AnierinBliss commented on #115
this is what is in my fstab on my device... I honestly don't know where to put what..
# The filesystem that contains the filesystem checker binary (typically /system) cannot
# specify MF_CHECK, and must come before any filesystems that do specify MF_CHECK

#TODO: Add 'check' as fs_mgr_flags with data partition.
# Currently we dont have e2fsck compiled. So fs check would failed.

#<src>

[2017-07-02 05:51] M1cha commented on #115
well as you can see the paths are just different. So compare and correct them.

[2017-07-02 05:56] AnierinBliss commented on #115
/dev/block/bootdevice/by-name/system       /system         ext4    defaults multiboot
/dev/block/bootdevice/by-name/cache         /cache          f2fs    defaults multiboot
Updated it to read this. Correct?

/dev/block/bootdevice/by-name/userdata     /data           ext4    defaults multiboot,esp=datamedia
/dev/block/bootdevice/by-name/boot         /boot           emmc    defaults multiboot,uefi,n

[2017-07-02 06:15] M1cha commented on #115
https://github.com/efidroid/projectmanagement/wiki/%5BReference%5D-fstab.multiboot#filesystem

[2017-07-02 07:19] AnierinBliss commented on #115
I used that guide and it still cant find esp partition. I used the above fstab.multiboot i made (changing ext4/f2s to auto)

[2017-07-09 06:44] zhenyolka opened #116 "Error build uefi"
Hello!
I build uefi variant on Windows WSL (ubuntu on windows) and see error.
Last log massages in file.
Sorry for my English
[log.txt](https://github.com/efidroid/projectmanagement/files/1133583/error_build_uefi_variant.txt)

[2017-07-09 06:48] M1cha commented on #116
you have to downgrade uefi/lkl to a063e1631db5e2b9b04f184c5e6d185c1cd645cb

`cd uefi/lkl`
`git checkout a063e1631db5e2b9b04f184c5e6d185c1cd645cb`

[2017-07-09 11:37] zhenyolka commented on #116
Thank you! All succesfull compile and boot!

[2017-07-09 11:37] #116 closed

[2017-07-09 11:57] zhenyolka opened #117 "Not support touchscreen and rotate screen"
On first start I see "not support touch screen in this bootloader" how fix it.
And screen rotate on 180 degrees. And boot loop cyanogenmod.
I port it to lg l65 (msm8610).

[2017-07-09 12:16] M1cha commented on #117
Touchscreen input isn't supported by EFIDroid in general.
Neither is screen rotation.

Touchscreen support may be added someday in the future, but screen rotation is very unlikely since sensor drivers usually run on a coprocessor which needs to be initialized via trustedzone.

[2017-07-09 12:16] #117 closed

[2017-07-09 12:22] z3ntu commented on #117
I think he means that his display is mounted upside down (see eg OnePlus 5 news) so everything should be displayed upside-down.

[2017-07-09 13:11] M1cha commented on #117
@z3ntu thx for clearing that up. I'll add software rotation to my TODO list for UI2.

[2017-07-10 17:22] zhenyolka opened #118 "Port for lg l65"
I finish port EFIDroid to lg l65.
All work, I try, but screen in my phone mount not normally, on 180 degress and image on screen is rotated.
I upload
[otapackage-20170710-lge_l65.zip](https://github.com/efidroid/projectmanagement/files/1136465/otapackage-20170710-lge_l65.zip)
Please add this port to you official app.

[2017-07-10 17:26] M1cha commented on #118
I will not accept any device ports before the big rewrite is done because every device has to be ported from scratch afterwards anyway.

[2017-07-10 17:26] #118 closed

[2017-07-10 17:27] zhenyolka opened #119 "How boot grub?"
I read that the EFIDroid can run GRUB. How it can be done. It is connected via Google translator.

[2017-07-10 17:39] M1cha commented on #119
[code]

[2017-07-10 17:45] M1cha commented on #118
Besides, I don't accept binaries. Everything has to be opensource.

[2017-07-10 18:18] zhenyolka commented on #119
Error
[log.txt](https://github.com/efidroid/projectmanagement/files/1136601/log.txt)

[2017-07-10 18:21] opendata26 opened #120 "Zygote crashes with 'unable to construct file descriptor table' error"
On the z2 series of phones (shinano) booting with a patched ramdisk causes devices to be stuck on the boot animation. It seems /file_contexts.bin is causing the issue but im not sure how.

Logs:
Logcat with patched ramdisk:
https://hastebin.com/ijihuhagot.vbs

Logcat without patched ramdisk:
http://sprunge.us/gaOV?c

Dmesg with patched ramdisk
http://ix.io/yq8

Dmesg without patched ramdisk
https:

[2017-07-10 18:31] opendata26 commented on #107
#120

[2017-07-11 08:54] zhenyolka commented on #119
What do?

[2017-07-12 12:30] zhenyolka opened #121 "Nvidia tegra 3 port?"
How port to NVidia?
Try port with you?

[2017-07-13 04:19] npjohnson commented on #121
Not very likely as LK has no code pertaining to Tegra.

An LK-less rewrite is coming soon, and that may help your case, as I will be working on porting that to Tegra 4.

[2017-07-15 10:58] #121 closed

[2017-07-15 10:59] zhenyolka opened #122 "Can i boot linux from sdcard?"
How boot linux from sdcard without grub? Using efidroid UEFI functions.

[2017-07-15 11:30] M1cha commented on #122
efidroid does support booting from sdcard by default.
If not, then your port is incomplete and you have to add support for that in your targets init.c(in LK).

If you're indeed talking about pure Linux, and not Android, the question is: It's not yet supported.

[2017-08-07 21:07] E4rx opened #123 "How to remove efidroid"
Hi, i installed efidroid on my device but i dont know how to remove it. How do i remeve it?

[2017-08-08 04:42] M1cha commented on #123
just hit the uninstall button in the android app(the trash bin icon)

[2017-08-08 08:33] E4rx commented on #123
And where is it?
Because i dont find it anywhere

El 8 ago. 2017 6:43, "Michael Zimmermann" <notifications@github.com>
escribió:

[2017-08-08 11:26] z3ntu commented on #123
![image](https://user-images.githubusercontent.com/3768500/29069897-290ede92-7c3d-11e7-91c4-95f9c5eca194.png)

[2017-08-08 21:57] E4rx commented on #123
Thx. You helped me a lot

El 8 ago. 2017 13:26, "Luca Weiss" <notifications@github.com> escribió:

[2017-08-09 00:24] rmnhg commented on #106
I'm facing the same problem while porting sony/flamingo (Xperia E3): I'm not able to fastboot boot out/device/sony/flamingo/lk.img. When I run it, system reboots but boots system as usually.
Did you fix the error @LNJ2 ?
I disabled 2NDSTAGE but then kernel started to give errors when compiling :(

[2017-08-09 09:09] LNJ2 commented on #106
@rmnhg No, I didn't fix the error. But I can tell you that fastboot boot isn't working generally on most sony devices. You really have to flash it to the boot partition, but if you do so, be sure you can still get into fastboot anyhow.

In my case I once flashed a kernel: I don't know if it really worked ... there was no output on the screen. But the problem was that I couldn't get anyhow into fas

[2017-08-11 05:03] feherneoh commented on #123
@M1cha Can you close this? Seems to be solved

[2017-08-11 05:08] feherneoh commented on #106
I'm not sure about E3, but Z has a normal, sane bootloader. For older phones, like Xperia SP you should NEVER flash the boot partition, but use the one called "kernel" instead.
Xperia Z has SBL1, S1SBL, SBL2, SBL3, TZ, aboot as bootloader partitions, boot and FOTAKernel as bootimages, but SP has Boot as merged bootloader (all of the bootloaders in the same image), kernel and FOTAKernel as bootimag

[2017-08-11 05:27] #123 closed

[2017-08-11 13:16] rmnhg commented on #106
@LNJ2 hmm Halium sounds good. In E3 fastboot works with boot partition wiped, so that is not a problem.
@feherneoh in E3 I have these partitions:
DDR         boot
FOTAKernel  cache
LTALabel    dbi
TA          fsg
aboot       modemst1
alt_aboot   modemst2
alt_dbi     rpm
alt_rpm     s1sbl
alt_s1sbl   sbl1
alt_sbl1    system
alt_tz      tz
apps_log    userdata

So for me, aboot is fastboot and boot

[2017-08-13 08:08] HardSer opened #124 "EFIDroid Manager: unoffical ports specified in wiki doesnt work"
Hello!
In project-management wiki i saw that Xiaomi Redmi Note 3 Pro (kenzo) is in Unoffical section.
Installed EFIDroid Manager, it wrote "Unable to load device info for xiaomi/kenzo".
How to install EFIDroid on this device through?

[2017-08-14 07:03] feherneoh commented on #106
@rmnhg fastboot boot breaks display with most of the kernels too, so better not use it.
If you have the latest bootloader with FOTAKernel boot support, then use that partition.
Display will be a pain, but if your LCD is a command-mode panel, you should be able to bring it up with the DTB driver (booting from boot partition in this case)

[2017-08-14 07:04] feherneoh commented on #124
Look for the unofficial port on the web, if you can find it, most probably there will be an installation tutorial too

[2017-08-14 09:27] HardSer commented on #124
Found "EFIDroid will be for Kenzo soon" only, dated 12 November 2016.

[2017-08-14 11:36] HardSer commented on #124
Decided to build myself.

[2017-08-14 11:36] #124 closed

[2017-08-16 09:03] rmnhg commented on #106
@feherneoh so flashing to boot partition could work? And another question, is there another way to extract bootloader addresses with a backup of aboot image?

[2017-08-16 10:21] feherneoh commented on #106
the address of aboot is stored in its header, so you can read it with a hexeditor

[2017-08-16 20:40] CedArctic commented on #103
For anyone googling this issue, a working version of TWRP for efidroid on the OnePlus  is 3.0.0_0

[2017-08-18 20:48] rmnhg commented on #106
@feherneoh how to do it? I have ran `binwalk aboot.img` as @M1cha said [here](https://github.com/efidroid/projectmanagement/issues/89#issuecomment-285274169)
It reported this:
`
DECIMAL       HEXADECIMAL     DESCRIPTION
--------------------------------------------------------------------------------
211852        0x33B8C         Android bootimg, kernel size: 0 bytes, kernel addr: 0x4F525245, ramdi

[2017-08-19 02:33] rmnhg opened #125 "Can't compile UEFI for flamingo"
I have tried recently to compile UEFI for flamingo (Xperia E3) and I'm getting this error:
[code]
I have tried to remove out folder and retrying or running repo sync but the error is still there so I guess it's a bigger issue.

[2017-08-19 02:53] rmnhg commented on #125
This question was already answered in #116 and the fix worked for me, so I'm closing this issue.

[2017-08-19 02:53] #125 closed

[2017-08-20 05:09] feherneoh commented on #106
binwalk seemingly does not support Qcom MBN images

[2017-08-20 06:03] M1cha commented on #106
@feherneoh I didn't do that yet because qcmbns don't have a magic.
I'm not sure if it's possible to detect that
`image_size==code_size+signature_size+cert_chain_size`
using their definition language:
https://github.com/devttys0/binwalk/blob/master/src/binwalk/magic/firmware

[2017-08-20 07:02] feherneoh commented on #106
well, they do have a "magic"
MBN version and MBN type, so you can detect like "MBN appsbl V3"

[2017-10-01 04:57] JTRealms commented on #89
I tried to disassemble the aboot image from my OnePlus3t in IDA, my goal was to check if `ABOOT_FORCE_KERNEL64_ADDR`is set, my assumption is that stops loading of efidroids 32bit LK.

The "aboot" image is in qualcomm MBN format, normally aboot's first 40 btyes are a ELF header containing aboots sizes and addresses, but isnt the case here.

So, in addition to the above question, does anyone know ho

[2017-10-01 05:51] M1cha commented on #89
@JTRealms this is the format of the header: https://github.com/efidroid/modules_libboot/blob/master/loaders/qcmbn.c#L31

Also, there are plugins for IDAPro to load mbn files.

[2017-10-02 17:39] #108 closed

[2017-10-07 10:17] baggistrumps commented on #62
i have this exact problem om my oneplus one? anything I can do about it? have tried wiping manually in twrp, no result, and the gapps doesn't even open, it just failed after a freeze in mp5 check

[2017-10-07 20:41] #88 closed

[2017-10-11 16:19] zhuowei opened #126 "Can EFiDroid take advantage of Qualcomm's closed source UEFI bootloaders?"
On Snapdragon 820 and above, Qualcomm's closed source proprietary bootloader, XBL, is based on edk2., and on 835, abl is now a [UEFI application](https://source.codeaurora.org/quic/la/abl/tianocore/edk2/tree/QcomModulePkg/Application/LinuxLoader/LinuxLoader.c?h=LA.UM.5.7.r1-10900-8x98.0) instead of LK. Could EFIDroid use those somehow?

[2017-10-11 16:50] M1cha commented on #126
I don't think so because qcom doesn't allow running efi files.
Ofc we could try to sideload a closed source uefi and add our own files to the FV but I think that people prefer an open source solution. (And I don't wanna risk DMCA takedowns)

[2017-10-11 23:02] zhuowei commented on #126
@M1cha so what is the plan for supporting Snapdragon 835 devices, then? I can't find an lk with support.

[2017-10-12 05:37] M1cha commented on #126
well we can try to use lk's drivers and enhance them with the linux-drivers for 835.
We're not using LK anymore anyway.

[2017-10-12 05:38] zhuowei commented on #126
@M1cha thank you so much for your response!

[2017-10-20 22:05] coderobe opened #127 "Lenovo P2 (kuntao row) Support"
I have attempted to port EFIDroid to the Lenovo P2a42 (kuntao_row)

It's a MSM8953, i used [this LA.UM tree](https://github.com/efidroid/bootloader_lk/tree/qcom/LA.UM) and `DEFINES += WITH_2NDSTAGE_DISPLAY_DMA_TRIGGER` has to be set for the display to work.
The NOUEFI LK boots[1] but the uefi_boot.img[2] just reboots the device.

I have the feeling this might be a case of https://github.com/efidro

[2017-10-21 12:22] M1cha commented on #127
This is a well known problem and one of the reasons why EFIDroid currently is being completely rewritten on top of a UEFI-only solution (no more LK).
Unfortunately that's still gonna take a lot of time until it's ready.

[2017-10-21 14:40] coderobe commented on #127
I see. Is there a repo/branch to track the progress?

[2017-11-05 01:49] MoreRobustThanYou commented on #110
Can also confirm this on my KFHDX 7" (amazon/thor)

[2017-12-12 23:06] M1cha commented on #10
It's supported in EFIDroidLKLPkg now.

[2017-12-12 23:06] #10 closed

[2017-12-12 23:07] M1cha commented on #79
none if this is needed anymore because we have QT now.

[2017-12-12 23:07] #79 closed

[2017-12-12 23:08] #126 closed

[2017-12-12 23:09] #122 closed

[2017-12-12 23:09] #119 closed

[2017-12-12 23:12] M1cha commented on #92
we're not using LK anymore.

[2017-12-12 23:12] #92 closed

[2017-12-12 23:13] M1cha commented on #87
we're not using LK anymore.

[2017-12-12 23:15] M1cha commented on #75
the app will go away.

[2017-12-12 23:15] #75 closed

[2017-12-12 23:16] M1cha commented on #65
the app will go away.

[2017-12-12 23:16] #65 closed

[2017-12-12 23:20] M1cha commented on #44
In the new edk2 port, nvvars are not supported anymore and the bootmanager will store all configurations on a filesystem.

[2017-12-12 23:20] #44 closed

[2017-12-12 23:23] M1cha commented on #66
I'll write a new UI from scratch. Problems in that one will be discussed in new issues.

[2017-12-12 23:23] #66 closed

[2017-12-15 06:38] M1cha opened #128 "LKL deadlock"
e.g. when using ls on a LKL filesystem multiple times the system deadlocks while inside a lkl system call.

The current approach to find the cause is to add stacktrace support to lkl and uefithreads.

[2017-12-16 21:18] #128 closed

[2017-12-18 23:02] computer777 commented on #83
@npjohnson hey, just curious if there's any progress for the nexus 6p.

[2017-12-23 13:05] Ilia1 opened #129 "Add new smartphone"
(https://github.com/racer123/efidroid_yotaphone2)
YotaPhone 2

[2018-01-03 06:23] M1cha commented on #104
because the problem was fixed.
For whatever reason the device port never got official anyway.

That doesn't matter anymore though because all devices have to be ported from scratch now anyway.

[2018-01-03 15:40] bam80 commented on #104
@opssemnik, does the problem was fixed indeed?

[2018-01-15 11:14] #87 closed

[2018-01-22 12:13] GITInvoker opened #130 "Cant compile edk2"
1. fails so much with xiaomi/aries device -> log below
2. by the way efidroid fails on every device when i try to compile with make edk2! says EFIDROID_PLATFORM etc. wasnt defined ! i know because there is no edk2 config file for other device then aries! this whole project is totally useless for me!

[2018-01-22 12:29] GITInvoker commented on #130
/home/invoker/EFIDroid/out/device/xiaomi/aries/edk2/EFIDroidDevicePkg/Library/QcomPlatformUartDmLib/QcomPlatformUartDmLib.c: In function ‘LibQcomPlatformUartDmGpioConfig’:
/home/invoker/EFIDroid/out/device/xiaomi/aries/edk2/EFIDroidDevicePkg/Library/QcomPlatformUartDmLib/QcomPlatformUartDmLib.c:36:12: error: ‘QCOM_GPIO_TLMM_PROTOCOL {aka struct _QCOM_GPIO_TLMM_PROTOCOL}’ has no member named ‘gpio_

[2018-01-22 21:22] feherneoh commented on #130
something seems to be messed up in your source tree

[2018-01-23 06:11] M1cha commented on #130
I forgot to push some changes - I've done that now :)

[2018-01-23 06:11] #130 closed

[2018-01-23 06:12] M1cha commented on #130
about 1) that sounbds like you're trying to compile edk2 without efidroids build system.

[2018-01-26 19:56] GITInvoker commented on #130
Thanks for changes what fixed and I know that two device is only supported for EFI sompile but I couldnt even compile for those... I check out now what happen hope it works :)

[2018-01-26 19:57] GITInvoker commented on #130
I want to port an own device for EFI on this

[2018-02-26 08:33] idragon81 opened #131 "Error when running create_device"
I am getting the following error when running the create_device command

Error: [Errno 2] No such file or directory: 'build/templates/lk_inc.template.mk'
I can verify that the file does not exist in my local directory as well as the repository efidroid/build

[2018-02-26 16:10] M1cha commented on #131
as the title of the porting guide says: `This information is outdated because of the REWRITE`.

[2018-02-26 16:10] #131 closed

[2018-03-11 21:55] pinoaffe opened #132 "Building efidroid fails"
When I tried to port efidroid to another device, i got the error message `Error: [Errno 2] No such file or directory: 'build/templates/lk_inc.template.mk'` upon running the create_device script
I tried to look for the file in other places, but couldn't find it in any of the repos.
What might be the cause?
Furthermore, it seems like the documentation is hopelessly lacking - will this change, or is

[2018-03-12 07:05] M1cha commented on #132
This will change, because as the top of the porting guide says, "This information is outdated because of the REWRITE.".

Porting the new code will be very different (we don't even use LK anymore).

[2018-03-12 07:05] #132 closed

[2018-03-15 14:29] aksrocks54 opened #133 "Bug on OnePlus One makes this software useless"
Bug on the OPO (bacon). After installing EFIDroid, irrespective of the rom you flash if you try to flash gapps the system reboots and gives the message "Previous Boot Failed. Cant allocate child memory -9" or the error 139.
This happens on all primary as well as secondary roms.
If you uninstall EFIDroid, then flashing gapps is successful without any errors. This makes the app completely useless.
I

[2018-03-17 08:21] feherneoh commented on #133
Please read the other reported issues (closed ones too)
This problem got reported multiple times, is not that easy to fix, and also there will be no fixes to the old codebase, as a complete rewrite is currently in progress

Expect it to work when the new base is released, that will fix most of the known problems

[2018-03-17 08:36] #133 closed

[2018-04-24 15:30] cobalt9 opened #134 "EFIDROID_CHIPVENDOR not defined"
I am getting this error
efidroid/uefi/edk2packages/EFIDroidPkg/EFIDroidPkg.dsc(285): error 3000: EFIDROID_CHIPVENDOR not defined
It doesn't go into Qcom folder.
I have tried to fix it but no luck so far.

I was trying to Moto/Condor to test.

[2018-04-24 18:15] M1cha commented on #134
first off: you're compiling for the new code base: I'll come no further than to the edk2 shell.

Untested, but this is the code I've used last time:
/media/Data/repositories/git/efidroid2/device/motorola/condor/device-motorola-condor.tar.xz

[2018-04-24 18:37] cobalt9 commented on #134
Are you working on a whole new project or changing things in this existing project as I checked you mentioned somewhere that you are dumping lk in new builds.

[2018-04-24 18:47] M1cha commented on #134
same project, same repos, different code :)
I didn't feel the need to keep the old code compilable since it had major bugs which would not be fixed in there anyway.

[2018-04-24 19:45] GoliathLabs commented on #134
So are you rewriting the project or what? Looking forward to see some new stuff xD

[2018-04-24 20:06] M1cha commented on #134
yes I am. To correct some technical mistakes and hopefully improve the multiboot situation.

[2018-04-25 16:59] GoliathLabs commented on #134
And when can we expect a new release? :p

[2018-04-25 17:04] M1cha commented on #134
I wish I knew :P

[2018-05-12 12:56] nkrapivin opened #135 "How to port efidroid to new devices?"
codename: xiaomi/santoni
description: Redmi 4X
density: 320
chipset: msm8937 (arm64)

Clean untouched boot.img from Global Developer 8.5.10
https://transfer.sh/XCbMA/boot.img

[2018-05-12 13:26] feherneoh commented on #135
EFIDroid is in an incomplete state right now, but if you are willing to work on chip support, I can provide you with help about doing it

[2018-05-12 13:27] nkrapivin commented on #135
And I also have another qcom device (actually my friend's phone, he dislikes DualBootPatcher)
codename: micromax/Q415
description: Pace 4G
# full name of this device is Micromax Canvas Pace 4G, but model of this device is Q415
density: idk lol, maybe 240
chipset: msm8909 (**32bit**, no 64bit kernel support.)

Clean untouched boot.img leaked from micromax full pc 5.1.1 firmware (this phone also hav

[2018-05-12 13:31] feherneoh commented on #135
You can contact me on telegram (same username) or in the EFIDroid Slack to get help on porting

[2018-06-02 15:05] thchi12 commented on #135
hmmm...Do you have any ideas? I wamt to port to my msm8926 device...But the page on wiki says it's outdated and I don't know what to do now.

[2018-06-03 08:02] feherneoh commented on #135
As the old implementation had some hard-to-fix functionality-breaking bugs on new devices, a full rewrite was started, and it's not in an usable state yet

[2018-06-03 08:06] thchi12 commented on #135
Then can I get an earlier working build environment?

[2018-07-07 19:27] TheDeaX-Lab opened #136 "Help me port for kenzo"
I have error on makefile:

[deax@TheDeaX efibuild]$ make -j4 lk
Looking for dependencies
Buildtype: DEBUG
Device: xiaomi/kenzo
Architectures: arm
Configuring for host, target, device
make[1]: вход в каталог «/home/deax/efibuild»
make[1]: *** Нет правила для сборки цели «lk».  exit
make[1]: выход из каталога «/home/deax/efibuild»

#### make failed to build some targets  ####

make: *** [build/core/

[2018-07-11 09:33] #115 closed

[2018-07-11 16:18] RAZUMOV2004 opened #137 "Vibe p1"
hello, is efidroid works oon lenovo vibe p1?

[2018-08-31 18:57] bengris32 opened #138 "Issue while trying to run create_device"
Here is what I did:
create_device ./imgs/boot.img
Device name (vendor/codename): motorola/athene
Device Description (i.e. Moto E): Moto G4 Plus
LCD Density: 401
Available targets:
                 msm8996                 msm7627a                  apq8084                  msm8226
                 msm8610                  msm8660                  msm8960                  msm8974
                 msm

[2018-08-31 18:59] bengris32 commented on #138
nvm the building guide is out of date, sorry!

[2018-08-31 18:59] #138 closed

[2018-11-03 20:11] ghost opened #139 "New porting instructions?"
Apparently there were changes, and i'm curious. I want to port this to my device.

[2018-11-04 09:01] feherneoh commented on #139
Porting instructions will be updated when it's ready to be ported

[2018-11-04 14:15] steamp0rt commented on #139
OK. Thanks.

[2018-11-10 06:04] danielchim commented on #137
No, you have to port it out by yourself.

[2018-11-10 11:53] Wolf14a opened #140 "When will be ready new instructions?"
Or can I get old files based on LK from anywhere?

[2019-01-07 22:11] matwalk86 opened #141 "Can't uninstall/open Efidroid because no root access"
Hi,
I was these last months on lineage 15.1 with twrp.

Then yesterday, I decided to install efidroid and /e/ (or eelo) rom on my fairphone 2. My goal would have been having dual boot /e/ and lineage os.
The problem is that I forgot to install before addon supersu on /e/ and I have no root access now on it. On /e/ I cant do factory reset.

On efidroid, Twrp doesn't display. So I'm stuck on /e/ wit

[2019-01-08 15:45] z3ntu commented on #141
Just flash TWRP again.

[2019-01-08 22:08] matwalk86 commented on #141
Thank you! I flashed it succesfully! :)

[2019-01-23 09:30] feherneoh commented on #132
I'm pretty sure that you have noticed that this project uses repo, meaning you won't ever have a single git commit hash you can use. Go check the commit dates, and write a manifest for yourself. Everyone who needs the old (practically useless) tree does that.

[2019-01-25 07:45] feherneoh commented on #132
64bit devices never worked correctly with the old sources, and there were problems with things like GApps too

[2019-01-26 13:55] zengge2 opened #142 "Is the project abandoned?"

[2019-01-26 15:05] M1cha commented on #142
while not officially abandoned, I currently don't think I'll find time and motivation to work on this project in the near future.

[2019-03-27 13:31] yaaaaa opened #143 "It is possible to port efidroid to Oukitel K7 Power for now?"

[2019-04-25 20:16] drakonknayt commented on #106
Has anyone been able to solve the problem with the display and fastboot ? Got someone to install efidroid ? If it works , then if it works well ?

[2019-05-24 15:14] FelenAmvrosiy opened #144 "EFIDROID_CHIPVENDOR not defined"
How to define it?

[2019-06-29 16:24] dje4321 opened #145 "Oneplus One (BACON) No usb otg support"
Just installed EFIDroid on my oneplus one but there appears to be no USB OTG support. Is this something that would be easy to add in? Would be nice to play with the EFI shell

[2019-06-29 18:17] feherneoh commented on #145
If it would be easy, it would have been added ages ago

[2019-07-09 20:19] UnMe0w commented on #93
Is anyone working on the port?

[2019-07-10 08:07] RedL0tus commented on #93
My Nexus 5X's battery died and cannot be turned on, so I'm not working on this anymore. Though somebody else may.

[2019-07-11 10:24] UnMe0w commented on #93
My nexus 5x is working fine, I'll try to debug

[2019-07-27 21:18] Flaburgan commented on #70
Any update on this? I would love a dual boot Ubuntu Touch / Android Open on my Fairphone 2

[2019-07-30 16:40] S-8506 opened #146 "build error : 'build/templates/lk_inc.template.mk'"
s-8506@s8506-X556UR:~/Desktop/EFIdroid$ create_device  path/to/boot.img
Device name (vendor/codename): zuk/z2_plus
Device Description (i.e. Moto E): zuk z2_plus
LCD Density: 420
Available targets:
                 msm8996                 msm7627a                  apq8084                  msm8226
                 msm8610                  msm8660                  msm8960                  msm8974

[2019-09-05 18:05] luka177 commented on #140
Use old commits

[2019-09-05 18:06] luka177 commented on #139
Is project dead?
if not can i help, i have msm8937 device and uart on it

[2019-09-05 18:12] luka177 opened #147 "Status of project"
Is project dead, or maybe help needed?

[2019-09-07 14:10] luka177 commented on #146
try older commits

[2019-09-08 14:00] 1231133 opened #148 "Porting on Speadtrum sc 7731?"
In the Russian topic on 4pda, there is a lot about devices based on Speadtrum 7731(most often in cheap tsblets). Can you port your important idea on these devices?

[2019-09-08 14:01] 1231133 commented on #147
Probably not.

[2019-09-09 10:22] 1231133 commented on #139
I have Speadtrum 7731 g device.

[2019-10-07 12:24] manuel-baum opened #149 "pocophone f1 porting"
i have a problem with porting pocophone because theres no target for sdm845 if someone know how i can fix it plese say me

[2019-10-07 12:26] manuel-baum commented on #149
also the main.mk fails because theres an problem in line 42 with @start_time (date + ....

[2019-10-07 12:28] feherneoh commented on #149
Sorry to disappoint you, but probably the only way of "fixing" it is taking over maintenance of the whole project. Those "targets" you see are LK targets to use for OLD builds, and sdm845 should NOT have LK available according to what I know about it. It should be running UEFI out-of-the-box, so what you would need isn't the platform itself, but the tools running on top of it.

[2019-10-07 12:31] feherneoh commented on #149
Also main.mk works just fine on my side, so you are probably missing some steps before invoking make

[2019-10-07 14:39] manuel-baum commented on #149
OK thanks for the fast awnser but i can't do anything wich is so complicated

[2019-10-23 08:25] soicry opened #150 "EFIDroidDevicePkg.dsc.inc Can fix this error?"
Hello,

I'm trying to build EFIDroid using Sony's Castor Windy Config, but I'm getting this error and unable to proceed. I tried build another device but it is the same error. This error
EFIDroidDevicePkg/EFIDroidDevicePkg.dsc.inc is not found in packages path:, which should load EFIDroidDevicePkg from /home/hyundai/efidroid/uefi/edk2packages/EFIDroidPkg/EFIDroidPkg.dsc(285). It doesn't build beca

[2019-10-24 06:12] feherneoh commented on #150
EFIDroidDevicePkg is your device folder, so device/sony/castor-windy in your case
Check the xiaomi/aries branch of https://github.com/efidroid/device for an example

[2019-10-24 07:11] soicry commented on #150
Thank you. and, can I ask another question?

[2019-10-24 07:52] soicry commented on #150
Thank you very much if you can answer.

My other question is this.
This is an error called can't open file. This error seems to be an error in drivers/kconfig: 213, but if open the drivers/kconfig file, line 213 does not exist.
Thank you very much.
![11](https://user-images.githubusercontent.com/50505049/67464501-627a3880-f67e-11e9-8281-dcd59af66aba.PNG)
![22](https://user-images.githubusercontent

[2019-10-24 08:57] feherneoh commented on #150
The EFIDroid build system does some symlinking and patching before building things, so it can add some files/lines build-time. You have to find the script that sets up lkl before building it, should be somewhere in the build repo

[2019-10-24 10:21] soicry commented on #150
Thank you very much. :)

[2019-10-24 10:22] #150 closed

[2019-11-01 13:38] XRedCubeX opened #151 "Error Porting Mi A2"
Hi, I'm having trouble porting EFIDroid to Mi A2 and giving me various errors, I am attaching the text file in which everything is written in the terminal.
[errorfidroidmia2.txt](https://github.com/efidroid/projectmanagement/files/3798110/errorfidroidmia2.txt)

[2019-11-03 09:27] feherneoh commented on #151
You made the same mistake as 99% of the issue-openers here.

You are trying to use the tutorials and scripts written for the old codebase to work with the new codebase.

There are NO working scripts and tutorials for the new codebase, and the platform you are trying to build for isn't supported at all in the new code.
The chipset you are working with is a 64-bit one, so you will probably not have

[2019-11-03 11:12] XRedCubeX commented on #151
In fact my device no longer has LK but does not have a guide on the new code?

[2019-11-04 07:04] feherneoh commented on #151
Oh, right, I didn't check what SoC sour device has, only what you picked in create_device

[2019-11-29 14:33] TAOcroatia commented on #149
@feherneoh
Could you elaborate on the "tools running on top of it" part? Is there any simple way to boot .efi files?

[2019-12-02 11:24] feherneoh commented on #149
About a way of running .efi files... No idea. I don't have any Android phone that uses XBL.

GUI, ramdisk patcher, filesystem drivers, and stuff like that

[2019-12-02 18:08] M1cha commented on #149
well there are a few theoretical and untested ways to run efi files with qcom's stock uefi:
- you find a security bug
- you replace abl which is an UEFI FV with the BDS app(I dunno if the FV itself is signed, if EFI's need to be signed in general or if it'a all unprotected)
- you find a way to undo ExitBootServices()
- you find a way to reload the (modified) DXE-phase of UEFI without any side effe

[2019-12-03 06:58] feherneoh commented on #149
The FV itself is most probably NOT signed, but I'm positive it's in a signed container
The last one sounds like the "easiest" method

[2019-12-04 17:17] aiamuzz opened #152 "efidroid on Android 9 and 10 devices ?"
Hi,

I just want to know if efidroid supports devices with 6 GB RAM and 64/128 GB Storage devices running Android 9 and Android 10 ?

thanks.

[2019-12-05 06:59] feherneoh commented on #152
Last Android release that was properly supported was 6, and 7 did work in some cases, all only on 32bit devices, so no, they aren't supported at all

[2019-12-05 07:13] aiamuzz commented on #152
its sad ... all these multi boot solutions were a little too early(they were implemented when devices and their hardware were weak(especially RAM) and in sufficient(storage) ... **But, when the time is perfect, for such multi boot solutions ... when we have devices with ample hardware in terms of RAM(memory) and Storage(64/128) these solutions are going extinct !!!

If there was ever a time for mu

[2019-12-05 07:26] feherneoh commented on #152
Problem is, Google changes stuff way too much with every release
I don't know safestrap, MultiROM has multiple methods both of which do perma-patch the system, so does Multi-Boot patch as the name implies
The Magisk way could work, I assume that would only multiboot Android, not the kernel.

[2019-12-05 08:12] M1cha commented on #152
@aiamuzz you're 100% right. What many people don't know is that I started working on multiboot solutions in 2012. Which means (excluding 2019) I've been working on that 7 years. EFIDroid alone started in 2015 which means I worked on that one for 4 years.

The reason why I stopped is that the amount of work that needed to be done increased everytime I found a way to solve an issue. That means the m

[2019-12-05 08:55] aiamuzz commented on #152
Oh ... but i got a sorry reply from its creator (https://github.com/topjohnwu/Magisk/issues/2076#issuecomment-554270943)

all i can do is **'Tip my Hat'** to your hard work ... and thanks for 'thinking out loud' about your journey and hard work that has gone into the efidroid project !!! ... Phew ... i could literally visualize it !!!

I guess Google's to blame ... to be making it difficult each t

[2019-12-05 09:07] M1cha commented on #152
First, thanks for your kind words :)

While it is true, that Android is really inefficient and that they'd finally drop the "we have to replace every opensource technology with our own version of it" (and replace java with something more native and which does not support exceptions like rust), the RAM problem is not as big as it appears.
Unlike Desktop-Linux, Android tries to use as much RAM as po

[2019-12-05 09:07] aiamuzz commented on #152
I really hope @topjohnwu ... and his Magisk team and your efidroid team could hit a breakthrough implementation of a single multiboot solution ... something like the Grub we use on Linux machines ...

I like the fact that Magisk a systemless implementation does not have to be adpated to each and every device ... just flash a single file across all devices ... a similar multiboot solution a single

[2019-12-05 09:22] feherneoh commented on #152
That's just impossible

[2019-12-05 09:29] aiamuzz commented on #152
I know i fear ... probably it may be possible if google decides to soften and allow it such tech !!!

[2019-12-05 09:32] feherneoh commented on #152
Still won't help, as for an usable dualboot that doesn't fry your device over time you need pre-kernel code, and there is just no way to make that completely universal. You MUST use builds customized for specific devices. Magisk can be universal, because anything not part of userspace it just pre-patches at install

[2019-12-05 09:38] aiamuzz commented on #152
:( :( :( ... oh ok ... my worst of fears ... i am no techie ... but seems you people know what you are talking about ... and i totally understand what you are saying conceptually !!!

At least could there be any hope on this ... @feherneoh ... go ahead burst my bubble !!!

[2019-12-05 09:42] feherneoh commented on #152
I wouldn't go that far as to say one or another OS handles RAM better, they just do it differently.
iOS is in a bit of a better situation, because of the native apps, so they are only caching the actual code, not both the dalvik bytecode and the output of JIT, so their memory footprint can be lower even with caching. Also AFAIK iOS apps aren't installed in a compressed state, so they don't have to

[2019-12-05 09:59] aiamuzz commented on #152
hmmmm ... ok ... i had a pretty rough guess of the issues with whole java and vm stuff under the android's hood ... you are confirming it ...

just a thought now that Android devices are coming up with higher storage 64GB / 129 GB ... how much of a memory gain(lesser RAM) will android start to benefit if google decided to install apps in a decompressed state ... they could create bigger data parti

[2019-12-05 10:02] feherneoh commented on #152
They install apps compressed because this way they have to check the signatures of ONE file, not every file the app contains

Might still be faster than some of the eMMC chips, also was WAY faster than the old MTD NAND chips used in Android devices before eMMC

[2019-12-05 10:35] aiamuzz commented on #152
seems like my wallet is not getting lighter anytime soon (or may be never) as far as paying for RAM so google make merry !!!

@feherneoh ... are there any other mobile OS's which have a different design when it comes to handling RAM closer to iPhone's implementation ... SailfishOS, UbuntuTouch, and any other OS that's in alpha/beta stages ... which respects hardware and uses it judiciously ?

At l

[2019-12-05 11:32] feherneoh commented on #152
Actually I prefer Google's way of doing it. Not counting the cache the average memory usage without apps is around 1.5GB on Pie, so on a 6GB device one still can use 4.5GB just fine

[2019-12-05 11:41] aiamuzz commented on #152
oh ... no way not on my device running pie ... can you tell me how i can achieve 1.5 GB memory and release 4.5 GB ... I would be greatful ...

@feherneoh ... how much memory do android services that are responsible for notifications take up ?

another thing that's been going on in my head is ... the possibility of ... say when i quite a particular app ... all traces of that app be erased from the

[2019-12-05 11:53] feherneoh commented on #152
Again, that's NOT counting the caches, but those are freed anyways when an app requests memory. Just think about it like this:
System assumes you might open a specific app after you receive a notification from it, so it loads it to cache. If you actually open it, then it can just grab it from memory instead of loading it that moment. If you don't open it, it will still keep it loaded, but throw it

[2019-12-26 09:01] #151 closed

[2019-12-26 09:04] XRedCubeX opened #153 "Error while porting UEFI variant to Tab 4"
Hi everyone, here I am again trying to port EFIDroid to a samsung galaxy tab 4 8.0. This time the device should also be compatible because it is ARM and has the old versions of android so I think it can work. I was porting and the NOUEFI version of EFIDroid works perfectly but the UEFI version cannot compile it because it gives me an error.
`xred_cubex@xredcubex-MS-7971:~/efidroidtab4$ source buil

[2020-01-03 16:11] Niplex337 opened #154 "How to build efidroid for d855?"
I want to build it for lg d855, can anyone help me, please?
Make command does not work :(

[2020-01-13 14:46] fxsheep commented on #89
@M1cha @npjohnson I have the same problem on Readmi 3S (land) , both lk and uefi stuck at aboot screen.I'm not very familiar with ARM or Qualcomm, but here are some of my ideas:

Ater some investigations I think it isn't because stock LK forces AArch64 boot mode.All of these devices shares a similar lk codebase, some even have arm32 kernel, so why should it do?
So I did some experiments:
1.Boot an

[2020-01-13 14:49] fxsheep commented on #89
And a weird problem occurs, my device isn't able to poweroff itself after booting that LK! Poweroff=reboot, maybe something about PMIC is messed up.

[2020-01-14 10:54] fxsheep commented on #89
After a lot of debugging I found the following problems:
1.Platform id check presents, e.g.
https://github.com/efidroid/bootloader_lk/blob/qcom/LA.BR/target/init.c#L248
I removed all of them.
2.Turning on ARM cache (by default) will stuck the device.So remove it too.
https://github.com/efidroid/bootloader_lk/blob/91bd0e0878af6b6731986519387d17c411482d34/arch/arm/arch.c#L54
Now it looks like this:

[2020-01-14 10:54] fxsheep commented on #89
SCM might be the problem.

[2020-01-14 11:29] feherneoh commented on #89
I have a hunch that this problem will be DT/memory related
I had instant reboots with the NEW codebase in early stage until I patched the memory table parsing for MSM8953. Most newer bootloaders (basycally any non-8994 64bit device) pass memory data in different format than older ones do.

[2020-01-14 12:52] fxsheep commented on #89
@feherneoh It looks so, things crashes randomly.Btw how to patch memory table parsing?And what do you refer to with NEW codebase? Thanks.

[2020-01-14 15:29] fxsheep commented on #89
Sorry, this is mainly my mistake.EFIDroid only allow me to select msm8952 target (LA.BR branch) however msm8937 is on 8952 target with LA.UM branch, I have to modify the config by myself to get it working.
However display still crashes LK.

[2020-01-14 16:39] fxsheep commented on #89
LK now works fine with display from DTB, though LCD looks weird.
However UEFI crashes:(reboot immediately),and here are logs dumped from ram:
the avaiable length of out_buf is not enough.
  allocating z_stream failed.
    1.2.8   header error
   inflateInit2 failed!
   uncompression error

[2020-02-04 19:25] #154 closed

[2020-04-28 16:13] MLXProjects commented on #141
Problem solved and issue not closed? Really?

[2020-07-05 20:20] Turbodr opened #155 "Samsung Galaxy A10 UEFI"
Hi! My phone Samsung Galaxy A10. 32 bit Android 9 ROM default. ARM64 CPU. UEFI supporting with A10? Thanks. (Bad English sorry :( )

[2020-07-05 20:59] M1cha commented on #155
theoretically any device can work but efidroid has been discontinued.

[2020-07-06 22:08] TheW0LVERIN3 commented on #155
I think it would be best to add discontinued to the readme or the discription because nothing has happened here since 2017

[2020-07-07 12:55] Turbodr commented on #155
No, I was just asking questions here to find out if my device supports the 64-bit UEFI specification.  Support 64-bit UEFI?

[2020-07-07 14:17] M1cha commented on #155
A device doesn't need anything special according the UEFI spec. You have to use one of the supported architectures(x86, x64, aarch32, aarch64 iirc) and there're some very basic architectural requirements which every device should support anyway.

Your A10 is an aarch64 device which can run UEFI while complying to the spec, but you'll have a very hard time implementing it because it has an exynos S

[2020-07-07 20:02] Turbodr commented on #155
So how do I install an ARM64 OS on my A10 device in UEFI mode? Thanks. :)

[2020-07-08 04:31] M1cha commented on #155
I think you misunderstood mod. Technically your device could run UEFI, but there's (probably) no port which means you just can't do that.

[2020-07-08 08:56] Turbodr commented on #155
They have installed Windows 10 ARM64 These people are on S8 in UEFI mode:
https://www.neowin.net/news/developer-gets-windows-10-on-arm-to-boot-on-the-samsung-galaxy-s8/

[2020-07-08 09:00] Turbodr commented on #155
Redmi Note 7 (Qualcomm SnapDragon 660 example):
https://cntechpost.com/2020/04/19/developer-runs-uefi-shell-on-redmi-note-7-paving-way-for-desktop-system-installation/

[2020-07-08 09:01] feherneoh commented on #155
Neither of these are Exynos based devices

[2020-07-08 09:02] Turbodr commented on #155
Meanwhile, OEM Bootloader can be unlocked in developer options.

[2020-07-08 09:04] feherneoh commented on #155
I did port UEFI to Redmi Note 4 (Snapdragon 625/MSM8953) too, but that won't help you with any phone that uses a different SoC

[2020-07-08 09:34] Turbodr commented on #155
Understood. So I'm going to ask one last question. Is Stock ROM installed in 32-bit UEFI mode or 32-bit Legacy mode? (64-bit UEFI BIOS is 32-bit UEFI mode, EFI MIXED is required) If one is 64-bit UEFI, is 64-bit UEFI ROM available? Thank you.

[2020-07-08 09:38] feherneoh commented on #155
I'm pretty sure you are assuming ARM devices are the same as x86 ones. They are not. on A10 stock ROM is most probably not using UEFI, but I don't own that device, so I cannot check. If I'm right, it has a bootloader that can only boot Linux (or stuff disguised as Linux), but most probably it can boot both 32 and 64 bit kernels. For Qualcomm devices with 64 bit SoC but 32 bit ROM that's how it usu

[2020-07-08 09:55] M1cha commented on #155
@feherneoh is right.
In other words: Even if you had fully working UEFI provided by the manufacturer, (most) ARM UEFI  devices don't have operatingsystem independent ACPI-tables like x86 does. Furthermore, many peripherals need non-mainline drivers or even userspace-drivers.

[2020-07-08 10:12] Turbodr commented on #155
@M1cha @feherneoh Thanks. Can GPT MBR status be checked on Android? Or can it be done on PC?

[2020-07-08 10:57] feherneoh commented on #155
It's almost certain that your phone uses GPT, but even if it does not (unlikely), it's surely not using MBR

[2020-07-08 11:39] M1cha commented on #155
@Turbodr try to run this on the device and post the output: `ls -l /dev/block/by-name/`

[2020-07-08 13:52] Turbodr commented on #155
@M1cha Where should I write that Linux terminal command? Need a program?

[2020-07-08 13:53] feherneoh commented on #155
https://play.google.com/store/apps/details?id=jackpal.androidterm

[2020-07-08 14:00] Turbodr commented on #155
:/ $ ls -l /dev/block/by-name
total 0
lrwxrwxrwx 1 root root 21 2020-07-03 12:53 boot -> /dev/block/mmcblk0p15
lrwxrwxrwx 1 root root 20 2020-07-03 12:53 bota0 -> /dev/block/mmcblk0p1
lrwxrwxrwx 1 root root 20 2020-07-03 12:53 bota1 -> /dev/block/mmcblk0p2
lrwxrwxrwx 1 root root 20 2020-07-03 12:53 bota2 -> /dev/block/mmcblk0p6
lrwxrwxrwx 1 root root 21 2020-07-03 12:53 bota3 -> /dev/block/mmcblk0

[2020-07-08 14:02] Turbodr commented on #155
@feherneoh Thanks application. :)

[2020-07-08 14:53] M1cha commented on #155
I can't see anything obvious in there. I googled the partition names but couldn't find info for all of them. If you really wanna get into it you could dump them all and run binwalk on each of them.
My guess would be cm, nad_* or mmcblk0boot*

[2020-07-08 15:08] Turbodr commented on #155
@M1cha So how can I do what you say?

[2020-07-08 15:36] feherneoh commented on #155
It's GPT, but Samsung surely loves messing the partition layout up as much as humanly possible

[2020-07-08 15:44] Turbodr commented on #155
@feherneoh EFI MIXED Mod working?

[2020-07-08 21:43] Maximal98 opened #156 "the servers that you download efidroid from are down"
i can't download the devices json or the actual thing either? what do i do?
the phone i am trying to install on is a note 4 n910f to be exact.

[2020-07-09 09:46] feherneoh commented on #155
I'm pretty sure that what you are talking about doesn't exist on ARM

[2020-07-18 06:03] Turbodr commented on #155
LineageOS 17.X 64 Bit UEFI ROM or 32 bit UEFI ROM with A10?

[2020-07-19 08:06] feherneoh commented on #155
On ARM64 devices you can usually boot both 32 and 64 bit kernels from 32 bit UEFI (not with EFISTUB though)
Also there are no such things as "UEFI ROM"s for Android devices.

[2020-08-30 07:18] keyle-kimmj opened #157 "Samsung Galaxy Tab A 8.0 SM-T380 UEFI"
Hi! I use Samsung Galaxy Tab A 8.0 SM-T380. This tablet use Snapdragon 425 APQ8017, ARM64 processor. UEFI supporting Galaxy Tab A 8.0? Thanks:) (bad english, sorry;;)

[2020-08-30 07:30] M1cha commented on #156
this project has been discontinued: https://github.com/efidroid/projectmanagement#-this-project-has-been-discontinued-more-info-

[2020-08-30 07:30] #156 closed

[2020-08-30 07:31] M1cha commented on #157
no it doesn't :)
this project has been discontinued: https://github.com/efidroid/projectmanagement#-this-project-has-been-discontinued-more-info-

[2020-09-06 04:20] #82 closed

[2020-09-06 04:20] #83 closed

[2020-09-06 04:20] #84 closed

[2020-09-06 04:20] #85 closed

[2020-09-06 04:20] #86 closed

[2020-09-06 04:20] #89 closed

[2020-11-27 13:10] #105 closed

[2021-01-14 00:05] #96 closed

[2021-04-07 11:18] sashapzzx opened #158 "make[1]: *** No rule to make target 'lk'. Stop."
┌──(root💀DESKTOP-E6VC3O6)-[/home/kali/auefi]
└─# make -j lk
Looking for dependencies
Buildtype: DEBUG
Device: 3.4.0/ms013g
Architectures: arm
Configuring for host, target, device
make[1]: Entering directory '/home/kali/auefi'
make[1]: *** No rule to make target 'lk'.  Stop.
make[1]: Leaving directory '/home/kali/auefi'

#### make failed to build some targets  ####

make: *** [build/core/main.mk:42

[2021-04-07 11:19] feherneoh commented on #158
By trying to build a target that actually exists on said revision

[2021-04-09 08:19] sashapzzx commented on #158
but what target is exists

[2021-04-09 08:20] sashapzzx commented on #158
i tryed make -j lk uefi

[2021-04-09 09:16] sashapzzx opened #159 "HOW TO DOWNLOAD OLD COMMIT OF THIS PROGECT?!"
How to do this
repo checkout checkout 408945416b0e195077ad48ba468c8e8e65392956
error: project 408945416b0e195077ad48ba468c8e8e65392956 not found

[2021-04-09 10:14] feherneoh commented on #159
I cannot see what your problem is. You messed up the command arguments, so you get an error. Also you used fullcaps in the issue title and expect help.

[2021-04-09 14:19] M1cha commented on #159
@sashapzzx can you show us the exact command you used?
Generally, checking out an old revision works by using an old revision of the manifest repository
https://source.android.com/setup/develop/repo#init

You'll also have to revert some repos to older version because the manifest points to master branches instead of tags.

[2021-04-09 16:05] feherneoh commented on #159
I'm pretty sure he used what he posted, that is one with "checkout checkout"

[2021-04-09 16:26] M1cha commented on #159
you're right I missed that.
btw, I made the old lk code compile again: https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:26] #159 closed

[2021-04-09 16:27] M1cha commented on #158
you have to use the old LK code if you want to follow the old guide.
https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:27] #158 closed

[2021-04-09 16:28] M1cha commented on #147
I stopped working on this project:
https://github.com/efidroid/projectmanagement#-this-project-has-been-discontinued-more-info-

[2021-04-09 16:28] #147 closed

[2021-04-09 16:28] M1cha commented on #146
you can use this branch now:
https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:28] #146 closed

[2021-04-09 16:29] M1cha commented on #140
here you go:
https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:29] #140 closed

[2021-04-09 16:30] M1cha commented on #134
it's never gonna happen:
https://github.com/efidroid/projectmanagement#-this-project-has-been-discontinued-more-info-

[2021-04-09 16:30] #134 closed

[2021-04-09 16:31] M1cha commented on #135
here you go:
https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:31] #135 closed

[2021-04-09 16:32] M1cha commented on #136
you nee to use the old code:
https://github.com/efidroid/manifest/tree/master-legacy

[2021-04-09 16:32] #136 closed

[2021-04-09 16:32] M1cha commented on #139
I stopped working on it:
https://github.com/efidroid/projectmanagement#-this-project-has-been-discontinued-more-info-

[2021-04-09 16:32] #139 closed

[2021-04-09 16:33] #141 closed

[2021-04-10 18:43] MLXProjects commented on #157
Thanks a lot for updating the repos to make it buildable again! It was such a shame that, because of the unfinished update, one wasn't able to port this anymore. Okay, this isn't exactly useful, but there are some people who do that just for the sake of doing it :P
btw I was trying to contact you @M1cha, but you don't seem to read the mail or something; is there any other media?

[2021-04-10 19:21] Vicc2008 commented on #152
i have a idea create the project daniel lennard for oneplus 6 and oneplus 6t and We Bare Bears for motorola one action and huawei y5 2018 motorola moto g7 plus

[2021-04-11 19:19] Oleksandr-Holiak opened #160 "--defsym=PECOFF_HEADER_SIZE=0x220 -Wno-error"
When make -j uefi
- Done -
Build end time: 22:08:11, Apr.11 2021
Build total time: 00:02:48

Installing: /home/kali/uefi/out/target/arm/uefiapp_EFIDroidUi/Build/EFIDroidUEFIApps/RELEASE_GCC5/ARM/EFIDroidUi.efi
make[1]: Leaving directory '/home/kali/uefi'

#### make failed to build some targets (05:25 (mm:ss)) ####

make: *** [build/core/main.mk:44: uefi] Error 2

I have long pause in --defsym=PECO

[2021-04-11 19:23] Oleksandr-Holiak commented on #160
[full out.txt](https://github.com/efidroid/projectmanagement/files/6292602/full.out.txt)

[2021-04-12 02:29] MLXProjects opened #161 "Moto E 2015 (surnia) porting issues"
After successfully building and booting nouefi-lk, the finalize_device script throws "Can't find all the needed information".
Digging through the script code, noticed that highestaddr was -1 (not changed). Tried to manually find it, and on the ram ptable noticed that there is only one sdram with type sys, when it seems that they need to be two (like on condor or thea).
As the script skips the firs

[2021-04-12 06:56] feherneoh commented on #160
Can you pipe the whole output (both stdout and stderr) into files? This file you sent only includes part of the output (your scrollback buffer might be too small for it), and the actual error is not shown here

[2021-04-12 09:03] #160 closed, assigned to nobody

[2021-04-12 09:10] Oleksandr-Holiak opened #162 "EDK2_BASE is not set"
when i do make -j uefi
[output.txt](https://github.com/efidroid/projectmanagement/files/6295336/output.txt)

Compiling arm_uefird_multiboot_init
Compiling uefird
3504 blocks
Compiling edk2
EDK2_BASE is not set
make[1]: [out/build.mk:545: edk2] Error 1
Compiling lkuefi_kernel_final
stat: missing operand
Try 'stat --help' for more information.
make[1]: [out/build.mk:1077: lkuefi_kernel_final] Error

[2021-04-12 09:16] M1cha commented on #160
@sashapzzx please explain how you fixed it

[2021-04-13 15:18] M1cha commented on #157
@MLXProjects when did you do that? I can't find anything from you except for github notifications.

[2021-04-13 15:21] M1cha commented on #162
you forgot the number of jobs after `-j`
correct command: `make -jX uefi` replace `X` with the number of jobs you want to compile with.

[2021-04-13 23:16] MLXProjects commented on #157
January 8, a while ago (sent from my other mail, maicoljaureguiv1). Anyway, you don't need to read that mail because the issues I had were kinda solved; however I still want to contact you, I'll just say that I'm working on libaroma :P

[2021-04-24 13:00] Oleksandr-Holiak commented on #162
I have same problem with make -j5 uefi

[2021-04-25 08:29] Oleksandr-Holiak commented on #162
help

[2021-04-25 09:53] M1cha commented on #162
I don't know what the problem is but writing `help` after less then 24h on a weekend is not gonna speed things up.
try `V=1 VERBOSE=1 make -j1 uefi` and post the log of that.

[2021-04-25 11:25] Oleksandr-Holiak commented on #162
[output.txt](https://github.com/efidroid/projectmanagement/files/6371803/output.txt)
Same problem

[2021-04-25 12:05] M1cha commented on #162
well did you set EDK2_BASE in your devices config.ini?

[2021-04-25 14:10] Oleksandr-Holiak commented on #162
no

[2021-04-25 14:13] Oleksandr-Holiak commented on #162
But what should be in EDK2_BASE=?

[2021-04-25 14:14] Oleksandr-Holiak commented on #162
[config.ini.txt](https://github.com/efidroid/projectmanagement/files/6372132/config.ini.txt)
This is my config.ini

[2021-04-25 14:50] M1cha commented on #162
sounds like you forgot this step:
https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Porting-a-new-device#update-loading-addresses

[2021-04-25 14:57] Oleksandr-Holiak commented on #162
You say about this finalize_device device/3.4.0/ms013g? When i write it freezes. I wait more then hour but nothing never happened.

[2021-04-25 15:02] M1cha commented on #162
well does lk_nouefi appear as a fastboot usb device? If not I can't help you because you have to make it boot
also keep in mind that the usb is different from your stock fastboot/adb ids so you might have to update udev rules

[2021-04-25 15:03] Oleksandr-Holiak commented on #162
I use master-legacy branch

[2021-04-25 15:07] Oleksandr-Holiak commented on #162
I already boot to nouefi and fastboot work
![nouefi](https://user-images.githubusercontent.com/62952395/115999156-62e8ec00-a5f3-11eb-8d9d-7a30b1287a73.jpg)

[2021-04-25 16:53] M1cha commented on #162
then you have to figure out where and why finalize_device blocks forever

[2021-04-27 05:59] Oleksandr-Holiak commented on #162
I already solved this problem. I used  windows 10 and download kali linux from microsoft store and I could not connect my device to fastboot. It only connect to windows but not to kali linux

[2021-04-27 06:00] #162 closed, assigned to nobody

[2021-04-27 12:12] Oleksandr-Holiak opened #163 "Samsung galaxy grand 2 does not boot to uefi"
I already boot to nouefi lk, but after i build uefi and flash it stuck on boot screen

repo init -u git://github.com/efidroid/manifest.git -b master-legacy

repo sync

source build/envsetup.sh

create_device /home/kali/boot.img
Device name (vendor/codename): 3.4.0/ms013g
Device Description (i.e. Moto E): grand 2
LCD Density:280
LK Target:msm8226

lunch
2 build type:DEBUG (debugging enabled)

make

[2021-05-07 16:03] Oleksandr-Holiak commented on #163
Hepl please

[2021-05-15 02:57] vizPilot opened #164 "Motorola Moto X 2014 UEFI"
Hi I have a Motorola Moto X 2014 with Qualcomm Snapdragon 801 MSM8974AC ARM32 processor. UEFI supporting

[2021-05-20 11:10] binbard opened #165 "why the project is discontinued"
hello. I wanna know why this is no longer maintained. Does current project leads no success? Does it require contribution.

[2021-05-20 15:15] M1cha commented on #165
this comment should explain it all:
https://github.com/efidroid/projectmanagement/issues/152#issuecomment-562019779

If you still have questions, feel free to ask :)

[2021-05-31 06:00] harshitjawla commented on #165
thanks.
what I have learnt:

first thanks for your nice work.
A year ago I have bricked my phone by flashing wrong image (giving no response least my pc), I was a complete newbie.
Since then, I got a great interest in android bootloading process, flashing protocols of different processors.
I will surely work upon the same after gathering more information and play with ported images, modified recov

[2021-06-03 09:55] M1cha commented on #165
bricking hardware sucks but you learn a lot from that :smile: I hope it was just a softbrick though.
Well first you should probably dig into what kinda boot process current devices actually have.
AFAIK qcom devices are now using a closed-source edk2 fork which loads the LinuxLoader from the `abl`(Android Boot Loader) partition which is still opensource: https://source.codeaurora.org/quic/la/abl/ti

[2021-06-03 18:42] binbard commented on #165
Hi, thanks for your response.
Actually it is of mtk chipset (panasonic eluga z1)
I also assume it was softbricked, otherwise I would not able to revive it without messing with its hardware.
I was lucky that mtk phones can be flashed at their runtime (bootup) without going into any fastboot/adb/edl mode
though I have to disable secure boot everytime using other tool, before flashing rom at runtime.

[2021-06-03 18:51] M1cha commented on #165
given that the old LK-based efidroid (probably) doesn't work at all with new Android versions and the pure edk2 based one isn't anywhere even close to working you have to ask yourself what you want to achieve.
If you just want UEFI you're probably best off compiling and porting mainline edk2 directly.
https://github.com/tianocore/edk2-platforms

[2021-06-03 19:00] binbard commented on #165
Hi I have lk based bootloader (I got this as I have lk&lk2 files in my stock rom and not edk). I can try EFIdroid if I am not wrong :)

[2021-06-03 19:04] M1cha commented on #165
do you have the sourcecode for your vendor LK? the lk-based efidroid implements a custom API and then runs a version of edk2 which uses that for most drivers which makes it quite platform independant.
That obiously means that you need a fully working, custom, opensource LK.

Also, I didn't know that mtk uses LK. is it based on qcom's fork or on mainline LK?

[2021-06-04 17:56] binbard commented on #165
hi. I dont know. I tried searching for panasonic lk source and couldnt find any of the vendor's lk source code. Do any of the vendor really open source their lk? or the community pople do modify the original android lk to match vendors

Edit: I got to know that vendors have to opensource their kernels due to gpl licence. So I have mailed to panasonic.com as [some of the device kernel are opensourc

[2021-06-09 17:50] XRedCubeX commented on #165
@M1cha Mediatek uses a heavily customized version (from them) of Little Kernel and on github you can find some examples, in my repo you find something.

@utilmen The GPL speech only makes sense with the linux kernel, not the Little Kernel

[2021-06-09 18:56] XRedCubeX commented on #153
Hi, out of curiosity I tried to port efidroid again, and I managed to successfully boot the nouefi version but the uefi version does not start, it hangs on the logo, I don't know how to get log, above it says that the kernel is not seandroid enforcing but I don't think it has anything to do with it, someone has some tips? @M1cha

[2021-06-09 19:44] XRedCubeX commented on #153
Fixed with https://github.com/efidroid/projectmanagement/issues/112#issuecomment-307618819

[2021-06-09 19:44] #153 closed

[2021-06-10 10:10] binbard commented on #165
Thankzz.  But I am in searcch of my device's linux kernel, but they have not oppensourced it for my device.
Can I do something to get it (Is it easy to port linux kernel to any device)

[2021-06-10 11:35] M1cha commented on #165
mediatek actively violates the GPL without facing any consequences thanks to their countries laws.
It looks like OEMs (like panasonic) are free to publish the sources anywhere but I don't know it they need a special contract for that or if they can just do it.
The tricky part is getting in contact with somebody at panasonic who both has technical knowledge and is allowed to make that decision. Sup

[2021-06-19 08:05] wyouqw opened #166 "xiaomi mi2 transplantation problem"
I cannot compile lk and uefi
Looking for dependencies
Buildtype: DEBUG
Device: xiaomi/aries
Architectures: arm
Configuring for host, target, device
make[1]: Enter the directory "/home/wang/edk2"
make[1]: No need to do anything with "uefi".
make[1]: leave the directory "/home/wang/edk2"

#### make completed successfully ####

[2021-06-25 08:16] #166 closed, assigned to nobody

[2021-07-03 15:08] #165 closed, assigned to nobody

[2021-07-09 19:13] #163 closed, assigned to nobody

[2021-07-25 21:57] vizPilot opened #167 "Sony Xperia Tablet S sgpt1211 UEFI"
Hi I have a Sony Xperia Tablet S sgpt1211 with Nvidia Tegra 3 processor. UEFI supporting?

[2021-07-25 22:05] #164 closed, assigned to nobody

[2021-07-26 07:40] strongtz commented on #167
No.

[2021-08-01 00:10] #167 closed, assigned to nobody

[2021-10-29 07:24] sonic011gamer commented on #161
did you find any fix for it?

[2021-11-12 23:45] ghost opened #168 "Is there new docs for the nolk version?"

[2021-11-20 00:51] gamecss commented on #168
@M1cha @z3ntu

[2021-11-20 07:23] M1cha commented on #168
well what kind of documentation are you talking about? what do you want to know?
I didn't write any additional documentation myself and qualcomm doesn't use LK anymore.

[2021-11-20 10:32] ghost commented on #168
like how to create device tree and compile right

[2021-11-20 10:40] M1cha commented on #168
you can find the old documentation in the wiki:
https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Build-system/69e6f4cf8a46b08eddb972bcd0b1c93e86689dc3

[2021-11-20 10:48] ghost commented on #168
but these docs seem not to be applicable to efidroid without lk

[2021-11-20 10:48] ghost commented on #168
and how to make arm64 target (with lk version)

[2021-11-20 10:52] M1cha commented on #168
IIRC that's not supported. Even 64bit devices used a 32bit LK.
64bit kernels were booted through an SCM call to a higher execution level:
https://github.com/efidroid/bootloader_lk/blob/91bd0e0878af6b6731986519387d17c411482d34/app/aboot/aboot.c#L799

[2021-11-20 10:56] ghost commented on #168
like Porting-a-new-device

[2021-11-20 11:25] M1cha commented on #168
Sry I failed to read the issue title properly :P
The nolk version wasn't anywhere new to being able to boot Android or have enough drivers to support more than the one or two devices we had for testing.

You could take a look at the device port for xiaomi/aries: https://github.com/efidroid/device/tree/xiaomi/aries
Keep in mind that there'll be a ton of missing drivers in https://github.com/efidroi

[2021-11-26 13:53] #168 closed, assigned to nobody

[2021-12-18 06:48] sonic011gamer opened #169 "Missing msm8909 uefi build target."
Using old LK-based repo. Can't port UEFI on msm8909 without it even being implemented. @M1cha, you're the only one that probably knows how to add it correctly.

[2022-01-11 18:08] vizPilot commented on #165
Hello @M1cha i have to create a project similar to efidroid

[2022-01-11 18:51] feherneoh commented on #165
No, you don't have to.
You have to learn the basics before you go around annoying half the internet with your crap, spamming it everywhere, and bricking devices those don't even belong to you, because you just randomly copy-paste commands meant for other devices from who-knows-where. Stop this.

[2022-01-11 18:56] vizPilot commented on #165
I am not going to do that project

[2022-03-23 12:00] Kirill2006183 commented on #155
Hello, here it weighs 21 years, someone is porting UEFI to Samsung a10

[2022-03-23 12:03] Kirill2006183 commented on #155
and then some tried to port ubuntu touch to samsung a10 but without success

[2022-05-02 20:01] sonic011gamer commented on #169
I'll have a try at it again sometime, I have a vague idea how to make it work

[2022-07-13 15:13] EFIShell0 opened #170 "Vestel Venus 5000 Compatibility"
I have Vestel Venus 5000 with Qualcomm Snapdragon 212. Can I use EFIDroid because it is based on MSM8909?  My goal is to install Windows RT or Windows 10 ARMv7

Specs:
Qualcomm Snapdragon 212 (MSM8909)
2 GB RAM
16 GB eMMC
Micro USB
Android 7.1 (6.0 to 7.1)

[2022-07-17 15:32] M1cha commented on #170
in theory yes but keep in mind that efidroid needs a lot of work before it can boot windows(or even android at this point).

[2022-07-17 19:04] EFIShell0 commented on #170
This problem occurred when compiling non-UEFI LK:
`libfdt/libfdt.h:251:28: error: array subscript ‘struct fdt_header[0]’ is partly outside array bounds of ‘unsigned char[4]’ [-Werror=array-bounds]
  251 |                 fdth->name = cpu_to_fdt32(val); \
      |                 ~~~^~~~~
libfdt/libfdt.h:253:1: note: in expansion of macro ‘fdt_sethdr’
  253 | fdt_sethdr(magic);
      | ^~~~
fdtdump.

[2022-08-03 10:15] TukangM opened #171 "[Newbie] how compile?"
i have 2 phone and i want compile or make for my 1 device
the device specs
mi 4c
msm8992 / sd 8992
3/32
[gsmarena mi 4c](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj3oLOdt6r5AhU7wzgGHTB7B7AQFnoECAcQAQ&url=https%3A%2F%2Fwww.gsmarena.com%2Fxiaomi_mi_4c-7512.php&usg=AOvVaw3E9Ive4TdatYw9QQ9Ya1MJ)
unlocked bootloader
etc

the question is

how compile own ef

[2022-08-03 10:29] TukangM commented on #171
[[Reference] Chipsets](https://github.com/efidroid/projectmanagement/wiki/%5BReference%5D-Chipsets)
msm8992 on msm8994